// Buttons
//
// Style guide: base.forms.buttons

// Standard button
//
// markup:
// <button>Button</button>
//
// Style guide: base.forms.buttons.standard

%button {
  @include padding(0.33333 1);
  @include typeface(serif);
  @include font-size(m);
  color: color(background);
  background-color: color(link);
  border: none;
  border-radius: ($border-radius / 2);
  -webkit-appearance: none;

  & + button,
  & + input {
    @include margin-left(0.25);
  }

  @include is-on {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 0 0 2px color(border);
  }
}

%button--basic {
  @extend %button;
  @include padding(0 0.25);
  @include typeface(sans-serif);
  @include font-size(xs);
  color: color(default);
  background-color: color(input__background);
  border: 1px color(border) solid;
  border-radius: 0;
}

button,
input[type='submit'] {
  @extend %button;
}
