// Fieldset
//
// markup:
// <fieldset class="form-wrapper">
//   <legend>Fieldset</legend>
//   <div class="fieldset-wrapper">
//     <div class="fieldset-description">Description of the fieldset.</div>
//     <div class="form-item"><label>Label</label> <input type="text"></div>
//     <div class="form-item"><label>Label</label> <input type="text"></div>
//   </div>
// </fieldset>
//
// Style guide: base.forms.fieldset

fieldset {
  padding: $gutter;
  border: 1px solid color(border--input);
  border-radius: ($border-radius / 2);
}

legend {
  @include typeface(sans-serif);
  @include font-size(m);
  font-weight: weight(bold);
  color: color(label);
  margin-left: -3px;
}

.fieldset-description {
  @include margin-bottom(1);
  @include typeface(sans-serif);
  color: color(label);
}
