// Form elements
//
// Style guide: base.forms

form {
  margin: 0;
  padding: 0;
}

.form-item,
.form-actions {
  margin-top: 0;
  margin-bottom: $gutter;
  max-width: 100%;
}

.form-required {
  color: color(error);
}

input,
textarea {
  &:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 0 0 2px color(border);
  }

  &::selection {
    background: $red;
  }
}
