// Text fields and text areas
//
// markup:
// <div class="form-item">
//   <label>Text field</span></label>
//   <input type="text" placeholder="placeholder">
// </div>
// <div class="form-item">
//   <label>Text field, required <span class="form-required" title="This field is required.">*</span></label>
//   <input type="text" placeholder="placeholder" required="required">
// </div>
// <div class="form-item">
//   <label>Date field</label>
//   <input type="date">
// </div>
// <div class="form-item">
//   <label>Datetime field</label>
//   <input type="datetime">
// </div>
// <div class="form-item">
//   <label>Datetime local field</label>
//   <input type="datetime-local">
// </div>
// <div class="form-item">
//   <label>Email field</label>
//   <input type="email">
// </div>
// <div class="form-item">
//   <label>Month field</label>
//   <input type="month">
// </div>
// <div class="form-item">
//   <label>Number field</label>
//   <input type="number">
// </div>
// <div class="form-item">
//   <label>Password field</label>
//   <input type="password">
// </div>
// <div class="form-item">
//   <label>Search field</label>
//   <input type="search">
// </div>
// <div class="form-item">
//   <label>Telephone field</label>
//   <input type="tel">
// </div>
// <div class="form-item">
//   <label>Time field</label>
//   <input type="time">
// </div>
// <div class="form-item">
//   <label>URL field</label>
//   <input type="url">
// </div>
// <div class="form-item">
//   <label>Week field</label>
//   <input type="week">
// </div>
// <div class="form-item">
//   <label>Textarea</label>
//   <textarea placeholder="placeholder"></textarea>
// </div>
// <div class="form-item">
//   <label for="edit-submitted-textarea">Resizeable textarea</label>
//   <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea">
//     <textarea id="edit-submitted-textarea" name="submitted[textarea]" cols="60" rows="5" class="form-textarea" placeholder="placeholder"></textarea>
//     <div class="grippie"></div>
//   </div>
// </div>
//
// Style guide: base.forms.textinput

%form-text {
  @include padding(0 0.5);
  @include typeface(sans-serif);
  @include font-size(m);
  color: color(input);
  border: 1px solid color(border--form);
  background-image: linear-gradient(color(input__background), color(background));
  width: 100%;
  max-width: 100%;

  @include mq(medium) {
    width: 80%;
  }

  @include mq(large) {
    width: 50%;
  }

  .sidebar & {
    width: 100%;
  }

  &.error {
    border: 2px solid color(error);
    background-color: color(background--sidebar);
  }

  &:disabled {
    background-image: linear-gradient(color(input__background), color(input__background));
  }
}

%form-text-field {
  height: 2.5rem;
  border-radius: ($border-radius / 2);
}

%form-text-field--basic {
  height: auto;
  @include font-size(s);
  background-color: color(background);
  box-shadow: color(border--input) 1px 1px 3px 1px inset;
  border: none;
  border-radius: 0;

  @include mq(medium) {
    background-color: color(input__background);
  }

  &:focus {
    box-shadow:
      color(border--input) 1px 1px 3px 1px inset,
      0 0 0 2px color(border);
  }
}

%form-text-area {
  width: 100%;
  max-width: 100%;
  border-radius: ($border-radius / 2);
  resize: none;

  @include mq(medium) {
    width: auto;
  }
}

// Remove forced yellow input background in webkit.
input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $white inset;
}

input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
textarea {
  @extend %form-text;
}

input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  @extend %form-text-field;
}

textarea {
  @extend %form-text-area;
}

.grippie {
  border-radius: ($border-radius / 2);
}
