// Images
//
// Also see the <a href='section-components.html#kssref-components-image-captions'>images with captions</a> component.
//
// .image-left - Floated left.
// .image-right - Floated right.
// .image-center - Aligned center.
//
// Markup: images.twig
//
//
// Style guide: base.images

%img {
  max-width: calc(100vw - 6px - 3.75rem); // full screen, minus 2x border, minus 2x page margin
  height: auto;
  box-sizing: content-box;
  border: 3px solid color(border--image);

  @include mq(medium) {
    max-width: calc(100% - 6px);
  }
}

%img--border-off {
  max-width: calc(100vw - 3.75rem); // full screen, minus 2x page margin
  border: none;

  @include mq(medium) {
    max-width: 100%;
  }
}

%img--full-width {
  max-width: calc(100vw);

  @include mq(medium) {
    max-width: 100%;
  }
}

figure {
  display: table;
  max-width: 100%;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

img {
  @extend %img;

  .region-content .field-name-body &,
  .region-content .field-name-field-people-overview &,
  .region-content .bean-project_c-html-block &,
  .cke_editable & {
    border-color: color(border);
  }
}

img[style*='float:left'],
img[style*='float: left'],
.image-left {
  @extend %img;
  float: left;
  margin: ($gutter / 4) $gutter ($gutter / 2) 0;
}

img[style*='float:right'],
img[style*='float: right'],
.image-right {
  @extend %img;
  float: right;
  margin: ($gutter / 4) 0 ($gutter / 2) $gutter;
}

.image-center,
img.image-center,
p.image-center,
div.image-center figure {
  clear: both;
}

div.image-center figure {
  margin: 0 auto;
}

img.image-center,
p.image-center {
  display: block;
  text-align: center;
  margin: 0 auto $gutter;
}

// Fixes some CKEditor Image2 plugin bugs whre alignment classes aren't removed correctly.
.image-center,
.image-caption {
  img.image-left,
  img.image-right {
    float: none;
    margin: 0;
  }
}
