<aside class="content content-aside">
  <h3><strong>Noteworthy Alumni</strong></h3>

  <p>The department administers the graduate field of plant pathology and plant-microbe biology with numerous noteworthy alumni.
    Among them are:</p>

  <ul>
    <li>Private practitioners Cynthia Westcott and P.P. Pirone</li>
    <li>Science policy advocate and scholar J. G. Horsfall</li>
    <li>World Food Prize winner John Niederhauser</li>
    <li>Eminent mycologist R.P. Korf</li>
    <li>World-renowned nematologist W.F. Mai.</li>
  </ul>

  <p>You can access a more comprehensive documentation on the history of the&nbsp;<a href="/sites/pppmb.project_c.project_c.edu/files/shared/documents/Geneva-PPPMB-History.pdf"
      id="CP___PAGEID=1038972|">Geneva department by J. E. Hunter&nbsp;</a>and of the&nbsp;<a href="/sites/pppmb.project_c.project_c.edu/files/shared/documents/Ithaca-PPPMB-History.pdf"
      id="CP___PAGEID=1038989|">Ithaca department by G. C. Kent and A. G. Newhall</a>.</p>
</aside>
