// Landing page node types.
//
// Non-Layout styles go in the `page-landing` directory within `slm`.
//
// No style guide entry.

.is-page-node-type-landing {

  .field--name-field-page-card {
    margin-top: $gutter;

    @include respond-to(l) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      margin: 1rem 0 1rem -1rem;
    }

    > .field__item {
      margin: 1rem auto;
      max-width: $col-3-width;

      @include respond-to(l) {
        flex: 0 0 33.3333%;
        align-self: flex-start;
        margin: 1rem 0;
        padding-left: 1rem;
      }
    }
  }
}
