////
/// Sass Media Query Breakpoints
///
/// Overrides defaults in sass-mq.
///
/// @group breakpoints
////

/// Breakpoints are used mobile-first; that is, putting something inside a
/// "medium" breakpoint means that it will be applied from the medium breakpoint
/// and above. Styles meant for screen widths smaller than the "small"
/// breakpoint should simply be set outside of a breakpoint wrapper, and then
/// overridden if need be.
///
/// Also see the `max-content` `$widths` variable in `_sizes.scss`.
///
/// @example scss - Sass
///   p {
///     display: block;
///
///     @include mq(medium) {
///       display: inline;
///     }
///   }
///
///   @include mq(medium) {
///     div {
///       display: inline;
///     }
///   }
///
/// @example css - CSS output
///   p {
///     display: block;
///   }
///
///   @media (min-width: 48.0625em) {
///     p {
///       display: inline;
///     }
///   }
///
///   @media (min-width: 48.0625em) {
///     div {
///       display: inline;
///     }
///   }
///
/// @link https://github.com/sass-mq/sass-mq
/// @link https://sass-mq.github.io/sass-mq
/// @author Sass MQ
$mq-breakpoints: (
  small: 320px,
  medium: 769px,
  large: 1000px,

  // Tweakpoints
  // desktopAd: 810px,
  // mobileLandscape: 480px
);

/// To enable support for browsers that do not support @media queries,
/// (IE <= 8, Firefox <= 3, Opera <= 9) set `$mq-responsive` to false
/// Create a separate stylesheet served exclusively to these browsers,
/// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

/// Define the breakpoint from the `$mq-breakpoints` list that should
/// be used as the target width when outputting a static stylesheet
/// (i.e. when `$mq-responsive` is set to 'false').
///
/// @requires $mq-breakpoints
$mq-static-breakpoint: large;

/// If you want to display the currently active breakpoint in the top
/// right corner of your site during development, add the breakpoints
/// to this list, ordered by width, e.g. (mobile, tablet, desktop). Turned off
/// in production.
$mq-show-breakpoints: ();
