////
/// Colors
/// @group colors
////

/// Standard red
$red: #b31b1b;
/// Transparent red
$red-t: rgba(179, 27, 27, 0.9);
/// Light red
$red-light: #bd3939;
/// Light transparent red
$red-light-t: rgba(179, 27, 27, 0.25);

/// Standard green (success)
$green-light-t: rgba(0, 150, 0, 0.4);
/// Standard yellow (warning)
$yellow-light-t: rgba(255, 200, 0, 0.4);

/// Standard black
$black: #000;
/// Black, 80%, transparent
$black-80-t: rgba(51, 51, 51, 0.8);
/// Black, 75%
$black-75: #4d4e53;
/// Black, 70%
$black-70: #595a5c;
/// Black, 65%
$black-65: #666;
/// Black, 55%
$black-55: #777;
/// Black, 50%, transparent
$black-50-t: rgba(0, 0, 0, 0.5);
/// Black, 45% (White, 55%)
$black-45: #999;
/// Black, 20% (White, 80%)
$black-20: #ccc;
/// Black, 10%, transparent (White, 90%, transparent)
$black-10-t: rgba(0, 0, 0, 0.1);

/// Standard white
$white: #fff;
/// White, transparent at 80%
$white-t: rgba($white, 0.8);
/// White, transparent at 40%
$white-40-t: rgba($white, 0.4);
/// White, 98%
$white-98: #f7f6f4;
/// White, 97%
$white-97: #f2f2f2;
/// White, 95%
$white-95: #efeeeb;
/// White, 92%
$white-92: #e8e1d9;
/// White, 90%
$white-90: #e7e5e1;
/// White, 85%
$white-85: #dad8d4;
/// White, 70%
$white-70: #bbb;

/// PROJECT_C colors. Use `color()` with these variables in any context in which a
/// CSS color can be used.
///
/// @type Map
///
/// @prop {color} default [$black] - default text color
/// @prop {color} default--sans [$black-65] - default text color, sans-serif fonts
///
/// @prop {color} background [$white] - background color
/// @prop {color} background--body [$white-98] - background color, main body
/// @prop {color} background--sidebar [$white-98] - background color, sidebar
/// @prop {color} background--unpublished [$red-light-t] - background color, unpublished entity
///
/// @prop {color} border [$white-92] - border color
/// @prop {color} border--front [$white-97] - border color, front page
/// @prop {color} border--sidebar [$white-97] - border color, sidebar
/// @prop {color} border--image [$white-98] - border color, images
/// @prop {color} border--input [$black-45] - border color, form inputs
/// @prop {color} border--form [$black-20] - border color, form dividers
///
/// @prop {color} page-border [$black-10-t] - border (shading) color, main content
/// @prop {color} page-bottom [$white-95] - bottom border color, main content
///
/// @prop {color} link [$red] - linked text color
/// @prop {color} link--active [$red-light] - linked text color, active state
///
/// @prop {color} list-item [$red] - unordered list item indiator color
///
/// @prop {color} header [$red] - header text color
/// @prop {color} header--sans [$red] - header text color, sans-serif fonts
/// @prop {color} site-slogan [$black-65] - site slogan (school name) text color
///
/// @prop {color} nav-bg [$black-70] - primary navigation background color
/// @prop {color} nav-border [$black-65] - primary navigation border color
/// @prop {color} nav__item [$white-92] - primary navigation, item text color
/// @prop {color} nav__item--active [$white] - primary navigation, item text color, active state
/// @prop {color} nav__item--med [$white] - primary navigation, text color, medium screen widths
/// @prop {color} nav__item-bg [$black-55] - primary navigation, item background color
/// @prop {color} nav__item-border [$black-65] - primary navigation, item border color
/// @prop {color} nav__item-border--mobile [$black-20] - primary navigation, item border color, mobile version
///
/// @prop {color} nav-bg--l2 [$white-95] - primary navigation background color, second level
/// @prop {color} nav__item--l2 [$black-70] - primary navigation, item text color, second level
/// @prop {color} nav__item-border--l2 [$white-95] - primary navigation, item border color, second level
/// @prop {color} nav__item--med--l2 [$white-85] - primary navigation, text color, medium screen widths, second level
/// @prop {color} nav-bg--l3 [$white-90] - primary navigation background color, third level
/// @prop {color} nav-bg--l4 [$white-85] - primary navigation background color, fourth level
///
/// @prop {color} nav-secondary [$white] - secondary navigation text color
/// @prop {color} nav-secondary-bg [$red] - secondary navigation background color
/// @prop {color} nav-secondary-bg--active [$red-light] - secondary navigation background color, active state
/// @prop {color} nav-link [$white] - link indicator (arrowhead) color
/// @prop {color} nav-link-alt [$black-20] - link indicator (arrowhead) color, alternate theme
///
/// @prop {color} messages [$black-10-t] - message background color
/// @prop {color} messages--status [$green-light-t] - status message background color
/// @prop {color} messages [$yellow-light-t] - warning message background color
/// @prop {color} messages [$red-light-t] - error message background color
///
/// @prop {color} tab [$red] - tab text color
/// @prop {color} tab--active [$black] - active tab text color
/// @prop {color} tab-bg [$black-20] - tab background color
/// @prop {color} tab-bg--active [$red-light-t] - active tab background color
/// @prop {color} tab-secondary-bg [$white-85] - secondary tab background color
///
/// @prop {color} page-header [$white] - page header text color
/// @prop {color} page-header-bg [$red] - page header background color
/// @prop {color} page-header-bg--large [$white] - page header background color, large screen widths
///
/// @prop {color} context [$red-t] - contextual link icon color
/// @prop {color} context--active [$red-light-t] - contextual link icon color, active state
/// @prop {color} label [$black-65] - label text color
/// @prop {color} input [$black] - input field text color
/// @prop {color} input__background [$white-97] - input field background color
/// @prop {color} error [$red] - input field border color, error state
/// @prop {color} disabled [$black-45] - input field border color, disabled state
/// @prop {color} disabled__background [$white-92] - input field background color, disabled state
/// @prop {color} caption [$red] - caption text color
/// @prop {color} date [$black-45] - date text color
///
/// @prop {color} sidebar-bg [$white-95] - sidebar background color
///
/// @prop {color} footer-bg [$black-75] - footer background color
/// @prop {color} footer-border [$white-95] - footer border color
/// @prop {color} footer-text [$white] - footer text color
/// @prop {color} footer__inner-top [$black-75] - footer inside top background color
/// @prop {color} footer__inner-bottom [$black-65] - footer inside bottom background color
///
/// @prop {color} slideshow-pageritem [$white-40-t] - slideshow item background color
/// @prop {color} slideshow-pageritem-fallback [$white-70] - slideshow item fallback background color
/// @prop {color} slideshow-pageritem--active [$white] - slideshow item background color, active state
/// @prop {color} slideshow-caption [$white] - slideshow item text color
/// @prop {color} slideshow-caption--bg [$black-50-t] - slideshow item background color
///
$colors: (
  default: $black,
  default--sans: $black-65,
  background: $white,
  background--body: $white-98,
  background--sidebar: $white-98,
  background--unpublished: $red-light-t,
  border: $white-92,
  border--front: $white-97,
  border--sidebar: $white-97,
  border--image: $white-98,
  border--input: $black-45,
  border--form: $black-20,

  page-border: $black-10-t,
  page-bottom: $white-95,

  link: $red,
  link--active: $red-light,

  list-item: $red,

  header: $red,
  header--sans: $red,
  site-slogan: $black-65,

  nav-bg: $black-70,
  nav-border: $black-65,
  nav__item: $white-92,
  nav__item--active: $white,
  nav__item-bg: $black-55,
  nav__item-border: $black-65,
  nav__item-border--mobile: $black-20,
  nav__item--med: $white,

  nav-bg--l2: $white-95,
  nav__item--l2: $black-70,
  nav__item-border--l2: $white-95,
  nav__item--med--l2: $white-85,
  nav-bg--l3: $white-90,
  nav-bg--l4: $white-85,

  nav-secondary: $white,
  nav-secondary-bg: $red,
  nav-secondary-bg--active: $red-light,
  nav-link: $white,
  nav-link-alt: $black-20,

  messages: $black-10-t,
  messages--status: $green-light-t,
  messages--warning: $yellow-light-t,
  messages--error: $red-light-t,

  tab: $red,
  tab--active: $black,
  tab-bg: $black-20,
  tab-bg--active: $red-light-t,
  tab-secondary-bg: $white-85,

  page-header: $white,
  page-header-bg: $red,
  page-header-bg--large: $red-t,

  context: $red-t,
  context--active: $red-light-t,
  label: $black-65,
  input: $black,
  input__background: $white-97,
  error: $red,
  disabled: $black-45,
  disabled__background: $white-92,
  caption: $red,
  date: $black-45,

  sidebar-bg: $white-95,

  footer-bg: $black-75,
  footer-border: $white-95,
  footer-text: $white,
  footer__inner-top: $black-75,
  footer__inner-bottom: $black-65,

  slideshow-pageritem: $white-40-t,
  slideshow-pageritem-fallback: $white-70,
  slideshow-pageritem--active: $white,
  slideshow-caption: $white,
  slideshow-caption--bg: $black-50-t,
);
