////
/// Sizes
/// @group sizes
////

/// Standard gutter
$gutter: 1rem;
/// Outside-page gutter, equivalent to `@include margin(0.75);`
$outside-gutter: 1.25rem;

/// Standard border radius
$border-radius: $gutter;

/// PROJECT_C widths. Use `width()` with these variables in any context in which a
/// CSS length can be used. While it might seem like more work to call a size
/// with a Sass function, it helps automatically document the reason for the
/// length, rather than just looking like a "magic number."
///
/// @type Map
///
/// @prop {size} max-content [1260px] - maximum page content width
/// @prop {size} menu-min [200px] - minimum menu item width
/// @prop {size} menu-max [250px] - maximum menu item width
///
/// @prop {size} content-aside [15rem] - "aside" content width in CKEditor
///
/// @prop {size} imagestyle__header-image [720px] - Image style: Content header image
/// @prop {size} imagestyle__news--small [85px] - Image style: News image, small variant
/// @prop {size} imagestyle__news--large [750px] - Image style: News image, large variant
/// @prop {size} imagestyle__people--small [75px] - Image style: People image width, small variant
/// @prop {size} imagestyle__people-height--small [98px] - Image style: People image height, small variant
/// @prop {size} imagestyle__people--medium [100px] - Image style: People image width, medium variant
/// @prop {size} imagestyle__people-height--medium [125px] - Image style: People image height, medium variant
/// @prop {size} imagestyle__people--large [150px] - Image style: People image width, large variant
///
/// @prop {size} slideshow--small [630px] - Slideshow image width, small variant
/// @prop {size} slideshow-height--small [480px] - Slideshow image height, small variant
/// @prop {size} slideshow--large [1260px] - Slideshow image width, large variant
///
/// @prop {size} content-footer-overlay [100px] - Height of the overlap of the main content onto the footer at large screen widths
/// @prop {size} content-footer-border [12px] - Size of the border on the footer
/// @prop {size} footer-height [10rem] - Height of the footer
///
$widths: (
  max-content: 1260px,
  menu-min: 200px,
  menu-max: 250px,
  content-aside: 15rem,

  imagestyle__header-image: 720px,
  imagestyle__news--small: 85px,
  imagestyle__news--large: 750px,
  imagestyle__people--small: 75px,
  imagestyle__people-height--small: 98px,
  imagestyle__people--medium: 100px,
  imagestyle__people-height--medium: 125px,
  imagestyle__people--large: 150px,

  slideshow--small: 630px,
  slideshow-height--small: 480px,
  slideshow--large: 1260px,

  content-footer-overlay: 100px,
  content-footer-border: 12px,
  footer-height: 10rem,
);
