@charset 'utf-8';

// @file
// Styles applying only to the KSS style guide.
//

#kss-node {
  max-width: 1260px; // See the `max-content` variable in project_c_base_responsive/sass/global/variables/sizes
  margin: 0 auto;

  // Making main content full-width to allow for slideout menu.
  .kss-main {
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding: 2rem 1rem;
    background: #fff;
  }

  // Setting menu content to a fixed width.
  .kss-sidebar {
    display: none;
    width: 250px;
    padding: 2rem 1rem;
  }

  // Removing constraint on styleguide display.
  .kss-section {
    max-width: 100%;
  }

  // Tone down headers.
  .kss-style {
    h3 {
      font-size: 22px;
    }
  }

  // Tone down section numbers.
  .kss-nav__ref {
    float: right;
    padding: 0 0.5em;
    font-size: 14px;
    color: #fff;
    background-color: #666;
    border-radius: 0.5em;
  }

  .kss-nav__ref-child {
    font-size: 11px;
    color: #000;
    background-color: transparent;
  }

  .kss-title__ref {
    font-size: 12px;
  }

  // Remove PROJECT_C list item styling from menu.
  .kss-nav__menu-item {
    margin: 0.1rem 0;

    &::before {
      display: none;
    }
  }

  // Make those menu items pop.
  .kss-nav__menu-link {
    width: 100%;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    border-width: 0;
    transition: all 0.5s ease;

    &:hover,
    &:active,
    &:focus {
      color: #000;
      background-color: rgba(179, 27, 27, 0.25);
      border-width: 0;
    }

    &.is-in-viewport {
      background-color: rgba(179, 27, 27, 0.25);

      &::before {
        width: 0;
      }
    }
  }
}

//
// Slideout menu
//
// @see https://mango.github.io/slideout/
//
body {
  width: 100%;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

// Commenting out default overflow of content containers. With this enabled, memory consumption is lower (it doesn't have to repaint the entire screen) but the main content can't be scrolled when the menu is open.
// @see https://github.com/Mango/slideout/issues/164

// .slideout-open,
// .slideout-open body,
// .slideout-open .slideout-panel {
//   overflow: hidden;
// }

.slideout-open .slideout-menu {
  display: block !important;
}

.toggle-button {
  box-sizing: content-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 20px;
  content: '';
  padding: 0.75rem 1rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 50%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABkCAMAAACCTv/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA5ubmSUUG+gAAAAJ0Uk5T/wDltzBKAAAAPklEQVR42uzYQQ0AAAgDseHfNC4IyVoD912WAACUm3uampqampqamq+aAAD+IVtTU1NTU1NT0z8EAFBsBRgAX+kR+Qam138AAAAASUVORK5CYII=');
  background-position: 50% 50%;
  z-index: 20;
}

// The content aside example is a float in the otherwise empty example div.
// This contains that float in the example area.
#kssref-components-content-aside {
  .kss-modifier__example {
    overflow: hidden;
  }
}

#kssref-modules-slides {
  .kss-modifier__example {
    height: 480px;
  }
}
