{# Markup for the styleguide display of this component. #}
<div class="logo">
  <object type="image/svg+xml" data="/profiles/project_c/themes/project_c_base_responsive/src/logos/logo--project_c.svg">
    <!--[if lte IE 8]><img src="/profiles/project_c/themes/project_c_base_responsive/logo--project_c.png"/><![endif]-->
  </object>
</div>
