// Content header
//
// See non-layout styles in modules/content-header.
//
// No style guide reference.

.content__header {
  position: relative;
  order: -1;
  flex: 1 1 100%;
}

.content__image {
  display: block;
  @extend %img--border-off;
  @extend %img--full-width;
  width: 100%;
  height: auto;
}
