// Main content container
//
// No style guide reference.

.main-content {
  order: -1;
  position: relative;
  padding: $gutter $outside-gutter;
  width: 100%;
  max-width: calc(100vw - 1.25rem); // full screen, minus right page margin

  @include mq(medium) {
    order: 1;
    flex: 1 1 51%;
    max-width: 51%;
    min-height: 25rem;
    @include padding(0.75 1.25);
  }

  .front & {
    order: -2;
    flex: 1 1 100%;
    max-width: 100%;
    overflow: hidden;
    @include padding(0);
    background-color: color(background--sidebar);
  }
}

.main-content--left-content {
  @include mq(medium) {
    flex-basis: 75%;
    max-width: 75%;
  }
}

.main-content--full-content {
  @include mq(medium) {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.block--content {
  @include padding-bottom(0.75);

  @include mq(medium) {
    @include padding-bottom(1);
  }

  @include mq(large) {
    @include padding-bottom(0.75);
  }
}
