// Editor tools, such as messages, node edit tabs, etc.
//
// No style guide reference.

.editor-tools {
  order: -3;
  width: 100%;
  max-width: 100vw;

  @include mq(medium) {
    order: -2;
    flex: 1 1 100%;
    max-width: 100%;
    padding: 0 $outside-gutter;
  }

  .front & {
    order: -3;
  }
}
