// Header
//
// See non-layout styles in modules/header.
//
// No style guide reference.

.header {
  @include clearfix;
  display: flex;
  flex-flow: column nowrap;

  .logo {
    order: 2;
    @include margin(0.5 1.7 0.25 0.5);
  }

  .banner {
    order: 3;
    @include margin(0.5 0.5 0 0.5);
    @include padding(0.5 0 0 0);
  }

  .region-header {
    order: 1;
  }

  @include mq(medium) {
    @include margin(0 1.5);
    @include padding(0.75 0 0 0);

    flex-flow: row wrap;

    .logo {
      flex: 1 1 75%;
      max-width: 75%;
      order: 1;
      @include margin(0);
    }

    .banner {
      flex: 1 1 100%;
      order: 3;
      @include margin(0.75 0);
    }

    .region-header {
      flex: 1 1 25%;
      max-width: 25%;
      order: 2;
      flex-direction: column;
      justify-content: center;
    }
  }
}
