// Highlighted region
//
// No style guide reference.

.region-highlighted {

  .front & {
    @include mq(large) {
      float: left;
      margin-right: 0;
      width: width(slideshow--small);
      max-width: 50vw;
    }
  }
}
