// Navigation
//
// See non-layout styles in modules/navigation.
//
// No style guide reference.

.nav {
  order: -4;
  flex: 1 1 100%;
  width: 100%;
  max-width: 100vw;

  .front & {
    order: -4;
  }

  @include mq(medium) {
    max-width: 100%;
  }
}

.navigation--secondary {
  display: none;

  @include mq(medium) {
    display: block;
  }
}
