// Page container
//
// No style guide reference.

.page {
  @include clearfix;
  display: flex;
  flex-flow: row wrap;
  background-color: color(background);
  overflow: hidden;

  @include mq(large) {
    margin-bottom: width(content-footer-border);
  }
}
