// Search
//
// See non-layout styles in components/search.
//
// No style guide reference.

// Search block
.search-form {
}

// Search input field and submit
.search-input {
  display: flex;
  justify-content: space-between;

  .form-item-s {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// Search link
#search-link {
}

// Mobile toggle added via search-reveal.js
.search-toggle {
  position: absolute;
  right: ($gutter * 3 / 4);
  margin-top: ($gutter * 3 / 4);
  // Make the toggle large for easy tapping.
  width: 3rem;
  height: 3rem;
}
