// Sidebars
//
// See non-layout styles in modules/sidebars.
//
// No style guide reference.

.sidebar {
  width: 100%;
  max-width: 100vw;

  order: -1;

  @include mq(medium) {
    width: auto;
    max-width: 100%;
  }

  > .region,
  > .field {
    @include padding(0 0.75 0.75);
  }

  > .region {
    @include padding-top(4 / 3);
  }

  > .navigation {
    @include padding-top(0.75);
    @include padding-bottom(0);

    .front & {
      @include mq(medium) {
        @include margin-bottom(1);
        @include padding-top(1);
        @include padding-bottom(0);
      }

      @include mq(large) {
        @include margin-bottom(0.75);
        @include padding-top(0.75);
        @include padding-bottom(0);
      }
    }
  }
}

.sidebar--left {

  @include mq(medium) {
    order: -1;
    flex: 1 1 25%;
    max-width: 25%;
  }
}

.block--sidebar_first {
  @include margin-bottom(0.75);
  @include padding-bottom(0.75);

  @include mq(medium) {
    @include margin-bottom(1);
    @include padding-bottom(1);
  }

  @include mq(large) {
    @include margin-bottom(0.75);
    @include padding-bottom(0.75);
  }
}

.sidebar--right {
  background-color: color(background--sidebar);

  @include mq(medium) {
    order: 2;
    flex: 1 1 24%;
    max-width: 24%;
  }

  .front & {
    background-color: transparent;
  }
}

.block--sidebar_second {
  @include margin-bottom(0.75);
  @include padding-bottom(0.75);

  @include mq(medium) {
    @include margin-bottom(1);
    @include padding-bottom(1);
  }

  @include mq(large) {
    @include margin-bottom(0.75);
    @include padding-bottom(0.75);
  }
}
