{# Markup for the styleguide display of this module. #}
<div class="event-listing">
  {% include "event.twig" %}
  {% include "event.twig" %}
  {% include "event.twig" %}
  {% if modifier_class == 'event--caption' %}
    {% include "../../components/more-link/more-link.twig" %}
  {% endif %}
</div>
