<div class="slideshow-wrapper">

  <div class="slideshow">
    <div class="slide">
      <p class="slide__caption">Maecenas sed diam eget risus varius blandit sit amet non magna</p>
      <img class="slide-img-medium" src="http://placehold.it/1000x500/908E60/333333?text=Slide+1" alt="" />
      <img class="slide-img-small" src="http://placehold.it/630x480/908E60/333333?text=Slide+1" alt="" />
    </div>
    <div class="slide">
      <p class="slide__caption">Donec ullamcorper nulla non metus auctor fringilla</p>
      <img class="slide-img-medium" src="http://placehold.it/1000x500/BCD1F5/333333?text=Slide+2" alt="" />
      <img class="slide-img-small" src="http://placehold.it/630x480/BCD1F5/333333?text=Slide+2" alt="" />
    </div>
    <div class="slide">
      <p class="slide__caption">Aenean lacinia bibendum nulla sed consectetur</p>
      <img class="slide-img-medium" src="http://placehold.it/1000x500/?text=Slide+3" alt="" />
      <img class="slide-img-small" src="http://placehold.it/630x480?text=Slide+3" alt="" />
    </div>
  </div>

  <div class="slideshow-pager"></div>

</div>
