.account-menu {
  font-family: Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.font-nexa-loaded .account-menu,
.cke_editable .account-menu {
  font-family: 'NexaRustSansBlack';
}

.pdf-page .account-menu {
  font-family: 'NexaRustSansBlack';
}

/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.account-menu {
  margin: 0 auto;
  display: table;
}

.account-menu::before {
  content: '';
  display: table;
}

.account-menu::after {
  content: '';
  display: table;
  clear: both;
}

@media (min-width: 1200px) {
  .account-menu {
    width: unset;
    display: block;
  }
}

.account-menu .menu-item {
  padding-right: 1.5rem;
  text-align: right;
}

@media (min-width: 1200px) {
  .account-menu .menu-item {
    padding-right: 3rem;
    float: left;
  }
}

.account-menu--header {
  display: block;
  margin: 0;
  padding-top: 1rem;
  clear: both;
}

@media (min-width: 555px) {
  .account-menu--header {
    display: inline-block;
    margin: 0 2rem 0 0;
    padding-top: 0;
    clear: none;
  }
}

@media (min-width: 1200px) {
  .account-menu--header {
    margin: 0 auto;
  }
}

.account-menu--header .menu {
  margin: 0;
}

@media (min-width: 1200px) {
  .account-menu--header .menu {
    text-align: left;
  }
}

.account-menu--header .menu-item {
  padding: 0;
}

.account-menu--header .menu-item .social-media ul.social-media__wrapper {
  margin: 0;
  padding: 0;
}

.account-menu--header .menu-item .social-media__item {
  display: inline;
  padding: 0;
}

.account-menu--header .menu-item .social-media__link {
  display: inline-block;
  width: 35px;
  height: 35px;
  color: transparent;
  overflow: hidden;
  opacity: 0.8;
}

.account-menu--header .menu-item .social-media__link:hover, .account-menu--header .menu-item .social-media__link:active, .account-menu--header .menu-item .social-media__link:focus {
  color: transparent;
  opacity: 1;
}

.account-menu--header .menu-item .social-media__link span.ext {
  display: none;
}

.account-menu--header .menu-item .social-media__link[href='https://www.facebook.com/pages/Project_ser-Lunchroom-Movement/172911796067369'] {
  margin-right: 0.75rem;
  background: no-repeat center/cover url("../../../images/fb-round.svg");
}

.account-menu--header .menu-item .social-media__link[href='https://twitter.com/project_slunchrooms'] {
  background: no-repeat center/cover url("../../../images/twitter-round.svg");
}

.account-menu--header .menu-item .social-media__link[title='Project S YouTube'] {
  background: no-repeat center/cover url("../../../images/yt-round.svg");
}

.account-menu--header .menu-item .social-media--header {
  display: none;
}

@media (min-width: 1400px) {
  .account-menu--header .menu-item .social-media--header {
    display: inline-block;
  }
}

.account-menu--header .menu-item .social-media--header ul.social-media__wrapper {
  text-align: right;
}

.account-menu--header .menu-item .social-media--footer {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 100%;
}

@media (min-width: 1200px) {
  .account-menu--header .menu-item .social-media--footer {
    top: 0;
    left: auto;
    right: 32px;
    width: unset;
    text-align: right;
  }
}

.account-menu--header .menu-item .social-media--footer ul.menu {
  text-align: center;
}

@media (min-width: 1200px) {
  .account-menu--header .menu-item .social-media--footer ul.menu {
    text-align: right;
  }
}

@media (min-width: 555px) {
  .account-menu--header .menu-item {
    padding-right: 1.5rem;
    height: 35px;
    line-height: 35px;
  }
}

.account-menu--header .menu-link {
  color: #e59e00;
}

.account-menu--header .menu-link:hover, .account-menu--header .menu-link:active, .account-menu--header .menu-link:focus {
  color: #a32a29;
}

.account-menu--header .menu-link.is-active {
  color: #73984a;
}

.account-menu--footer {
  padding-bottom: 150px;
}

@media (min-width: 1200px) {
  .account-menu--footer {
    padding-bottom: 0;
  }
}

.account-menu--footer .menu {
  text-align: center;
  margin: 1em 0;
}

@media (min-width: 1200px) {
  .account-menu--footer .menu {
    text-align: left;
  }
}

.account-menu--footer .menu-item {
  padding: 0;
  text-align: center;
}

@media (min-width: 1200px) {
  .account-menu--footer .menu-item {
    padding-right: 3rem;
    text-align: left;
  }
}

.account-menu--footer .menu-link {
  color: #ffb819;
}

.account-menu--footer .menu-link:hover, .account-menu--footer .menu-link:active, .account-menu--footer .menu-link:focus {
  color: #fff;
}

.account-menu--footer .menu-link.is-active {
  color: #fff;
}

/*# sourceMappingURL=account-menu.css.map */
