@charset "UTF-8";
.block-superfishmain .sf-main a {
  font-family: Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.font-nexa-loaded .block-superfishmain .sf-main a, .block-superfishmain .sf-main .font-nexa-loaded a,
.cke_editable .block-superfishmain .sf-main a, .block-superfishmain .sf-main
.cke_editable a {
  font-family: 'NexaRustSansBlack';
}

.pdf-page .block-superfishmain .sf-main a, .block-superfishmain .sf-main .pdf-page a {
  font-family: 'NexaRustSansBlack';
}

.block-superfishmain .sf-main .sf-clone-parent > a, .block-superfishmain .sf-depth-2 a, #superfish-main-toggle span {
  font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

.font-mosk-loaded .block-superfishmain .sf-main .sf-clone-parent > a, .block-superfishmain .sf-main .font-mosk-loaded .sf-clone-parent > a, .font-mosk-loaded .block-superfishmain .sf-depth-2 a, .block-superfishmain .sf-depth-2 .font-mosk-loaded a, .font-mosk-loaded #superfish-main-toggle span, #superfish-main-toggle .font-mosk-loaded span,
.cke_editable .block-superfishmain .sf-main .sf-clone-parent > a, .block-superfishmain .sf-main
.cke_editable .sf-clone-parent > a,
.cke_editable .block-superfishmain .sf-depth-2 a, .block-superfishmain .sf-depth-2
.cke_editable a,
.cke_editable #superfish-main-toggle span, #superfish-main-toggle
.cke_editable span {
  font-family: 'Mosk';
}

.pdf-page .block-superfishmain .sf-main .sf-clone-parent > a, .block-superfishmain .sf-main .pdf-page .sf-clone-parent > a, .pdf-page .block-superfishmain .sf-depth-2 a, .block-superfishmain .sf-depth-2 .pdf-page a, .pdf-page #superfish-main-toggle span, #superfish-main-toggle .pdf-page span {
  font-family: 'Mosk';
}

/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.block-superfishmain {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 1200px) {
  .block-superfishmain {
    position: static;
    width: unset;
    float: right;
    max-width: calc(100% - 140px);
  }
}

.block-superfishmain .sf-main {
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.block-superfishmain .sf-main.sf-expanded {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.block-superfishmain .sf-main a {
  padding: 1rem;
  font-size: 1.1875rem;
  color: #a32a29;
}

.block-superfishmain .sf-main a:hover, .block-superfishmain .sf-main a:active, .block-superfishmain .sf-main a:focus {
  color: #7a201f;
}

.block-superfishmain .sf-main a.is-active {
  color: #73984a;
}

.block-superfishmain .sf-main .sf-has-clone-parent {
  padding-left: 0.5rem;
}

@media (min-width: 1400px) {
  .block-superfishmain .sf-main .sf-clone-parent {
    display: none;
  }
}

.block-superfishmain .sf-main .sf-clone-parent > a {
  padding-left: 1em;
  border-bottom: 2px #a32a29 solid;
}

.block-superfishmain .sf-main .sf-clone-parent > a::after {
  content: ' 〉';
}

.block-superfishmain .sf-main .sf-clone-parent > a:hover, .block-superfishmain .sf-main .sf-clone-parent > a:active, .block-superfishmain .sf-main .sf-clone-parent > a:focus {
  background-color: #eeeeee;
}

.block-superfishmain .sf-main .active-trail > a {
  color: #73984a;
}

.block-superfishmain .sf-depth-1 {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  text-transform: uppercase;
}

.block-superfishmain .sf-depth-1:last-of-type > a {
  padding-right: 0;
}

.block-superfishmain .sf-depth-2 {
  background-color: #fff;
  padding-left: 1em;
}

.block-superfishmain .sf-depth-2 a {
  text-transform: none;
}

.block-superfishmain .sf-depth-2 a:hover, .block-superfishmain .sf-depth-2 a:active, .block-superfishmain .sf-depth-2 a:focus {
  background-color: #eeeeee;
}

#superfish-main-toggle {
  position: relative;
  font-size: 11.25px !important;
  float: right;
  background: #ffb819;
  color: #fff;
  border: 0;
  padding: 2.5em 0.75em 0.25em;
}

#superfish-main-toggle span {
  text-transform: uppercase;
}

#superfish-main-toggle::after {
  display: none;
}

#superfish-main-toggle::before {
  position: absolute;
  top: 0;
  left: 50%;
  content: '≡';
  font-size: 4em;
  line-height: 0.75em;
  color: #fff;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

#superfish-main-toggle.sf-expanded {
  background: none;
}

#superfish-main-toggle.sf-expanded span {
  display: none;
}

#superfish-main-toggle.sf-expanded::before {
  content: '×';
  font-weight: 300;
  font-family: Helvetica, sans-serif;
  color: #a32a29;
}

#superfish-main-accordion {
  max-width: 50vw;
  float: right;
}

/*# sourceMappingURL=superfish.css.map */
