{# Markup for the styleguide display of this module. #}
<header class="header" role="banner">
  {% include "../../components/logo/logo--project_c.twig" %}

  {% include "../../components/banner/banner.twig" %}

  <div class="region region-header">
    {% include "../../components/search/search-block.twig" %}
  </div>
</header>
