<fieldset class="js-form-item form-item js-form-wrapper form-wrapper">
  <legend>
    <span class="fieldset-legend">Boost reimbursable meals</span>
  </legend>
  <div class="fieldset-wrapper">
    <div class="field--type-markup field--name-field-reimbursable-introduction field--widget-markup js-form-wrapper form-wrapper" data-drupal-selector="edit-field-reimbursable-introduction-wrapper" id="edit-field-reimbursable-introduction-wrapper">
      <div class="form-item">
        <div class="description">For items with a “<sup class="admin-ask-star">★</sup>” you may need to ask other school nutrition staff, teachers, or administrators.</div>
      </div>
    </div>
    <div class="field--type-list-string field--name-field-reimbursable field--widget-options-buttons js-form-wrapper form-wrapper" data-drupal-selector="edit-field-reimbursable-wrapper" id="edit-field-reimbursable-wrapper">
      <fieldset data-drupal-selector="edit-field-reimbursable" id="edit-field-reimbursable--wrapper" class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
        <legend>
          <span class="fieldset-legend">Check list: Boost reimbursable meals</span>
        </legend>
        <div class="fieldset-wrapper">
          <div id="edit-field-reimbursable" class="form-checkboxes">
            <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-reimbursable-reimbursable-01 form-item-field-reimbursable-reimbursable-01">
              <input data-drupal-selector="edit-field-reimbursable-reimbursable-01" type="checkbox" id="edit-field-reimbursable-reimbursable-01" name="field_reimbursable[reimbursable_01]" value="reimbursable_01" class="form-checkbox" />
              <label for="edit-field-reimbursable-reimbursable-01" class="option">Cafeteria staff politely prompt students who do not have a full reimbursable meal to select a fruit or vegetable.</label>
            </div>
            <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-reimbursable-reimbursable-02 form-item-field-reimbursable-reimbursable-02">
              <input data-drupal-selector="edit-field-reimbursable-reimbursable-02" type="checkbox" id="edit-field-reimbursable-reimbursable-02" name="field_reimbursable[reimbursable_02]" value="reimbursable_02" class="form-checkbox" />
              <label for="edit-field-reimbursable-reimbursable-02" class="option">One entrée is identified as the entrée-of-the-day, is labeled with a creative name next to the point of selection, <em>and</em> is the first entrée offered.</label>
            </div>
            <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-reimbursable-reimbursable-08 form-item-field-reimbursable-reimbursable-08">
              <input data-drupal-selector="edit-field-reimbursable-reimbursable-08" type="checkbox" id="edit-field-reimbursable-reimbursable-08" name="field_reimbursable[reimbursable_08]" value="reimbursable_08" class="form-checkbox" />
              <label for="edit-field-reimbursable-reimbursable-08" class="option">Students can pre-order lunch in the morning or day before.<sup class="admin-ask-star">★</sup>
              </label>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</fieldset>
