// svg-ir()
//
// Image replacement for embedded SVGs.
//
// $image-source - Required. Full SVG source of the image
//
// @requires svg-url
//
// @author Ivan Boothe
//
// Style guide: sass.mixins.svg-ir
@mixin svg-ir($image-source) {
  background-image: svg-url($image-source);
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
