// Content header
//
// Markup: content-header.twig
//
// Style guide: modules.content-header

.content__header {
}

.content__title {
  .front & {
    @include margin-bottom(0);
    @include typeface(sans-serif);
    @include font-size(l);
    font-weight: weight(light);
    text-transform: uppercase;
  }
}

.content__title--with-image {
  @include margin-bottom(0);
  @include padding(0 1.25);
  color: color(page-header);
  background-color: color(page-header-bg);

  @include mq(medium) {
    background-color: color(page-header-bg--large);
    position: absolute;
    bottom: 0;
  }
}
