{# Markup for the styleguide display of this module. #}

<div class="content__header content__header--with-image">
  <div class="content__image-wrapper">
    <img class="content__image" src="{{image_url}}" alt="{{image_alt}}" width="720" height="130" />
  </div>
  <h1 class="content__title content__title--with-image">{{title}}</h1>
</div>
