// IE10-only styles
//
// All styles should be heavily commented to aid in troubleshooting down the
// road. Explain why each override is being made.
//
// No style guide reference.

.ie10 {

  // Set static position on all main elements
  .page,
  .header,
  .main-content {
    position: static;
  }

  // Serve the full screen width for content areas since there will be no
  // flexbox layout.
  .main-content,
  .main-content--front,
  .main-content--left-content,
  .main-content--full-content,
  .main-content--both-content,
  .sidebar--right,
  .sidebar--left {
    @include mq(medium) {
      max-width: 100%;
    }
  }

  // Clear the main content area to ensure it doesn't overlap other elements.
  .main-content {
    @include clearfix;
  }

  // Clear the main navigation bar so it doesn't float to the right, especially
  // on the home page.
  .nav,
  .front .nav {
    @include clearfix;
    clear: both;
  }

  // Add padding so content doesn't run to the edge.
  .breadcrumb,
  .region-content {
    padding: 0 $outside-gutter;
  }

}
