{# Markup for the styleguide display of this module. #}
{# In this case, we're simply duplicating what Drupal already produces. #}
<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__content">
      <nav class="navigation navigation--footer" role="navigation">
        <h2 class="visually-hidden">Secondary menu</h2>
        <ul class="links inline">
          <li class="menu-1 first"><a href="#" title="">{{link1}}</a></li>
          <li class="menu-2"><a href="#" title="">{{link2}}</a></li>
          <li class="menu-3"><a href="#" title="">{{link3}}</a></li>
          <li class="menu-4 last"><a href="#" title="">{{link4}}</a></li>
        </ul>
      </nav>
      <div class="copyright">
        <a href="https://www.project_c.edu">&copy; 2016 Project_c University</a>
      </div>
    </div>
  </div>
</footer>
