// Images with captions (figures)
//
// Markup: image-captions.twig
//
// Style guide: components.image-captions

figure.image-caption {
  border: none;
}

.image-caption {
  @include margin(0.25 0 1);

  &[style*='float:left'],
  &[style*='float: left'],
  &.image-left {
    margin-right: $gutter;
  }

  &[style*='float:right'],
  &[style*='float: right'],
  &.image-right {
    margin-left: $gutter;
  }

  .image-center & {
    margin-bottom: $gutter;
  }

  img {
    display: block;
  }

  figcaption {
    @include margin(0.25 0);
    @include padding(0 0.25);
    @include typeface(sans-serif);
    @include font-size(s);
    color: color(caption);
    border-bottom: 1px solid color(border);

    p,
    li,
    li p {
      @include margin(0.25 0);
      @include font-size(s);
    }

    ol,
    ul {
      @include margin-bottom(0.5);
    }

    a,
    a:visited {
      border-bottom-color: color(link);

      @include is-on {
        border-bottom-style: dotted;
      }
    }
  }
}
