// Banner (school name and section)
//
// Markup: banner.twig
//
// Style guide: components.banner

.banner {
  margin: 0;
  border-top: 1px color(border) solid;
}

.banner__site-slogan {
  @include font-size(18px);
  margin-bottom: 0;
  line-height: 1.2;
  color: color(site-slogan);

  @include mq(medium) {
    @include font-size(22px);
    margin-bottom: 0;
  }

  @include mq(large) {
    @include font-size(26px);
    margin-bottom: 0;
  }

  a {
    color: color(site-slogan);

    @include is-on {
      border-bottom: none;
    }
  }
}

.banner__site-name {
  @include font-size(22px);
  margin-bottom: 0;
  line-height: 1.2;

  @include mq(medium) {
    @include font-size(xl);
    margin-bottom: 0;
  }

  @include mq(large) {
    @include font-size(xxl);
    margin-bottom: 0;
  }

  a {
    @include is-on {
      border-bottom: none;
    }
  }
}
