{# Markup for the styleguide display of this component. #}
<div class="banner">
  <div class="banner__site-slogan"><a href="#">{{school}}</a></div>
  <div class="banner__site-name">
    <a href="#" title="Home" rel="home" class="banner__site-link"><span>{{section}}</span></a>
  </div>
</div>
