{# Markup for the styleguide display of this component. #}
<div class="editor-tools">
  <div class="messages messages--post-status messages--published">
    <h2 class="element-invisible">Post state: Published</h2>
    <div class="messages__icon"></div>
    <div class="messages__message">PUBLISHED</div>
  </div>

  <div class="messages messages--post-status messages--published-draft">
    <h2 class="element-invisible">Post state: Published with draft</h2>
    <div class="messages__icon"></div>
    <div class="messages__message">PUBLISHED (WITH DRAFT)</div>
  </div>

  <div class="messages messages--post-status messages--unpublished">
    <h2 class="element-invisible">Post state: Unpublished</h2>
    <div class="messages__icon"></div>
    <div class="messages__message">UNPUBLISHED</div>
  </div>

  <div class="messages messages--metadata">
    <h2 class="element-invisible">Metadata message</h2>
    <div class="messages__icon"></div>
    <div class="messages__message">Page created by <a href="#">admin</a> on Wed, Oct 26, 2016 @ 2:34pm and last edited by <a href="#">admin</a> on Thu, Oct 27, 2016 @ 4:04pm.<br />
    Notification groups: None</div>
  </div>

  <div class="messages messages--status">
    <h2 class="element-invisible">Status message</h2>
    <div class="messages__icon">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 64 64">
        <path d="M54 8l-30 30-14-14-10 10 24 24 40-40z" fill="#000000"></path>
      </svg>
    </div>
    <div class="messages__message"><strong>Status message.</strong> Phasellus et ipsum quis sapien accumsan auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia ante non dolor viverra iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In adipiscing pulvinar eros, vitae dictum elit cursus a. Praesent a hendrerit urna. Maecenas neque libero, viverra in neque at, posuere tempor metus. Vestibulum neque nisi, malesuada sed ipsum varius, bibendum ornare nisl. Aliquam adipiscing vehicula varius. Morbi a interdum lacus. Integer luctus lobortis magna, nec vulputate augue blandit ac.</div>
  </div>

  <div class="messages messages--warning">
    <h2 class="element-invisible">Warning message</h2>
    <div class="messages__icon">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 64 64">
        <path d="M26,64l12,0c1.105,0 2,-0.895 2,-2l0,-9c0,-1.105 -0.895,-2 -2,-2l-12,0c-1.105,0 -2,0.895 -2,2l0,9c0,1.105 0.895,2 2,2Z" fill="#000000"></path><path d="M26,46l12,0c1.105,0 2,-0.895 2,-2l0,-42c0,-1.105 -0.895,-2 -2,-2l-12,0c-1.105,0 -2,0.895 -2,2l0,42c0,1.105 0.895,2 2,2Z" fill="#000000"></path>
      </svg>
    </div>
    <div class="messages__message"><strong>Warning message.</strong> Aliquam iaculis, velit gravida convallis tincidunt, felis enim venenatis lorem, nec lobortis nisl urna et mi.</div>
  </div>

  <div class="messages messages--error">
    <h2 class="element-invisible">Error message</h2>
    <div class="messages__icon">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 64 64">
        <path d="M63.416 51.416c-0-0-0.001-0.001-0.001-0.001l-19.415-19.416 19.415-19.416c0-0 0.001-0 0.001-0.001 0.209-0.209 0.36-0.453 0.457-0.713 0.265-0.711 0.114-1.543-0.458-2.114l-9.172-9.172c-0.572-0.572-1.403-0.723-2.114-0.458-0.26 0.097-0.504 0.248-0.714 0.457 0 0-0 0-0.001 0.001l-19.416 19.416-19.416-19.416c-0-0-0-0-0.001-0.001-0.209-0.209-0.453-0.36-0.713-0.457-0.711-0.266-1.543-0.114-2.114 0.457l-9.172 9.172c-0.572 0.572-0.723 1.403-0.458 2.114 0.097 0.26 0.248 0.505 0.457 0.713 0 0 0 0 0.001 0.001l19.416 19.416-19.416 19.416c-0 0-0 0-0 0.001-0.209 0.209-0.36 0.453-0.457 0.713-0.266 0.711-0.114 1.543 0.458 2.114l9.172 9.172c0.572 0.572 1.403 0.723 2.114 0.458 0.26-0.097 0.504-0.248 0.713-0.457 0-0 0-0 0.001-0.001l19.416-19.416 19.416 19.416c0 0 0.001 0 0.001 0.001 0.209 0.209 0.453 0.36 0.713 0.457 0.711 0.265 1.543 0.114 2.114-0.458l9.172-9.172c0.572-0.572 0.723-1.403 0.458-2.114-0.097-0.26-0.248-0.504-0.457-0.713z" fill="#000000"></path>
      </svg>
    </div>
    <div class="messages__message"><strong>Error message.</strong> Nam tincidunt dictum molestie.</div>
  </div>

  <div class="region region-help">
    <div class="block block-system block--help first last odd" role="complementary" id="block-system-help">
      <p>Help text appears mostly on administrative pages. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia ante non dolor viverra iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In adipiscing pulvinar eros, vitae dictum elit cursus a. Praesent a hendrerit urna.</p>
    </div>
  </div>
</div>

<div class="messages messages--webform-confirmation">
  <h2 class="element-invisible">Confirmation message</h2>
  <div class="messages__icon">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 64 64">
      <path d="M54 8l-30 30-14-14-10 10 24 24 40-40z" fill="#000000"></path>
    </svg>
  </div>
  <div class="messages__message">Thank you, your submission has been received.</div>
</div>
