// News callout item
//
// .news--brief - The "brief" news variant.
// .news--featured - The "featured" news variant.
// .news--brief.news--featured - Combo! Both "brief" _and_ "featured".
//
// Markup: news.twig
//
// Style guide: modules.news

//
// Default view mode
//
.news {
  @include clearfix;
  padding: $gutter 0;

  &:not(:nth-of-type(1)) {
    border-top: 1px color(border) solid;
  }
}

.news__image-wrapper {
  float: left;
  width: (width(imagestyle__news--small) + 6px);
  margin-right: $gutter;

  @include mq(medium) {
    margin-right: 0;
  }

  .news--brief & {
    width: width(imagestyle__news--small);
    margin-right: 0;
  }

  .news--featured & {
    float: none;
    width: 100%;
    margin-bottom: ($gutter / 2);
  }
}

.news__image {
  display: inline-block;
  border: 3px color(border) solid;

  .news--brief & {
    @include margin(0);
    @extend %img--border-off;
  }

  .news--featured & {
    display: block;
    float: none;
    width: 100%;
    height: auto;
  }
}

.news__image-link {
  @include is-on {
    border-bottom: none;
  }
}

.news__content-wrapper {
  .news--brief & {
    margin-left: width(imagestyle__news--small);
    padding-left: ($gutter * 0.75);
  }

  .news--featured & {
    margin-left: 0;
    padding: 0;
  }

  @include mq(medium) {
    margin-left: (width(imagestyle__news--small) + 6px);
    padding-left: $gutter;
  }

  .news--no-image & {
    margin-left: 0;
    padding-left: 0;
  }
}

.news__title {
  @include font-size(m);
  @include margin-bottom(1/6);

  @include mq(large) {
    @include font-size(18px);
  }

  .news--brief & {
    @include margin-bottom(0);
    @include typeface(sans-serif);
    @include font-size(s);
    font-weight: weight(normal);
  }

  .news--featured & {
    font-weight: weight(normal);
    @include font-size(m);
    @include margin-bottom(1/6);

    @include mq(medium) {
      @include font-size(l);
    }
  }

  .news--brief.news--featured & {
    @include font-size(s);
  }
}

.news__date {
  @extend %h3;
  margin-bottom: 0;
  @include typeface(sans-serif);
  font-weight: weight(bold);
  @include font-size(s);
  color: color(date);
  text-transform: uppercase;

  @include mq(large) {
    @include font-size(15px);
  }

  .news--brief & {
    display: none;
  }
}

.news__body {
  @include font-size(m);

  .news--brief & {
    display: none;
  }
}
