{# Markup for the styleguide display of this module. #}
<div class="news-listing">
  {% include "news.twig" %}
  {% include "news.twig" %}
  {% set image_none = "yes" %}
  {% include "news.twig" %}
  {% include "news.twig" %}
  {% include "../../components/more-link/more-link.twig" %}
</div>
