// Headers
//
// Style guide: base.headers

%header {
  @include margin-top(0);
  @include typeface(serif);
  color: color(header);
}

// H1 header
//
// markup:
// <h1>H1 header</h1>
//
// Style guide: base.headers.h1

%h1 {
  @extend %header;
  @include typeset(heading-1);
  @include margin-bottom(0.25);

  @include mq(medium) {
    @include typeset(heading-1--med);
    @include margin-bottom(0.5);
  }
}

// H2 header
//
// markup:
// <h2>H2 header</h2>
//
// Style guide: base.headers.h2

%h2 {
  @extend %header;
  @include typeset(heading-2);
  @include margin-bottom(0.25);

  @include mq(medium) {
    @include typeset(heading-2--med);
  }

  .sidebar & {
    @include typeface(sans-serif);
    @include typeset(heading-3);
    font-weight: weight(normal);
    text-transform: uppercase;

    &.block--title,
    &.field-label {
      font-weight: weight(bold);
    }
  }
}

// H3 header
//
// markup:
// <h3>H3 header</h3>
//
// Style guide: base.headers.h3

%h3 {
  @extend %header;
  @include typeset(heading-3);
  @include margin-bottom(0.25);

  .sidebar & {
    @include typeface(sans-serif);
    @include font-size(s);
  }
}

// H4 header
//
// markup:
// <h4>H4 header</h4>
//
// Style guide: base.headers.h4

%h4 {
  @extend %header;
  @include typeset(heading-4);
  @include margin-bottom(0);

  .sidebar & {
    @include typeface(sans-serif);
    @include font-size(s);
  }
}

// H5 header
//
// markup:
// <h5>H5 header</h5>
//
// Style guide: base.headers.h5

%h5 {
  @extend %header;
  @include typeset(heading-5);
  @include margin-bottom(0);

  .sidebar & {
    @include typeface(sans-serif);
    @include font-size(s);
  }
}

// H6 header
//
// markup:
// <h6>H6 header</h6>
//
// Style guide: base.headers.h6

%h6 {
  @extend %header;
  @include typeset(heading-6);
  @include margin-bottom(0);

  .sidebar & {
    @include typeface(sans-serif);
    @include font-size(s);
  }
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}
