//
// Basic styles for <html>
//

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  @include define-type-sizing;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  word-wrap: inherit;
  overflow-wrap: inherit;
}
