// Navigation
//
// Style guide: modules.navigation

// Primary navigation
//
// Markup: navigation-primary.twig
//
// Style guide: modules.navigation.primary

// Mobile menu toggle

.menu-revealer {
  @include svg-ir('<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path d="M0 0h48v48H0z" fill="none"/><path d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z" fill="#fff"/></svg>'); // menu-icon.svg
  box-sizing: content-box;
  position: relative;
  display: block;
  height: 10px;
  max-width: 100vw;
  @include margin-top(1);
  @include padding(0.5 0);
  background-color: color(nav-bg);
  background-position: 50% 50%;
  background-size: 28px;
  cursor: pointer;

  @include mq(medium) {
    display: none;
  }
}

// Menu container

$menu-indent: ($gutter * 1.75);
$menu-corner: ($border-radius / 2);

.navigation--primary {
  position: absolute;
  display: none;
  width: 100%;
  background-color: color(nav-bg);
  z-index: 101;

  @include mq(medium) {
    position: static;
    display: block;
    @include padding(0.25 0.5);
    border-top: 1px solid color(nav-border);
  }

  @include mq(large) {
    padding: ($gutter / 4) ($gutter * 1.25);
  }

  .js-menu-is-active & {
    display: block;
  }

  // General styles

  .menu {
    @extend %list-unlist;

    @include mq(medium) {
      font-size: 0;
    }
  }

  li {
    position: relative;
    overflow: hidden;

    @include mq(medium) {
      display: inline-block;
      margin: 0 ($gutter / 4) !important;
      overflow: visible;
    }

    @include is-on {
      @include mq(medium) {
        border-radius: $menu-corner $menu-corner 0 0;
        background: color(nav__item-bg);
      }
    }

    > a {
      display: block;
      position: relative;
      padding: ($menu-indent / 2) $menu-indent;
      @include typeface(sans-serif);
      @include typeset(menu);
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      color: color(nav__item);
      border-bottom: 1px solid color(nav__item-border);

      @include mq(medium) {
        display: inline-block;
        padding: ($gutter / 2) $gutter;
        @include typeset(menu--med);
        letter-spacing: 1px;
        color: color(nav__item--med);
        border-bottom: none;
      }
    }

    &.first {
      @include mq(medium) {
        margin-left: 0 !important;
      }

      > a {
        border-top: 1px solid color(nav__item-border);

        @include mq(medium) {
          border-top: none;
        }
      }
    }

    &.last {
      @include mq(medium) {
        margin-right: 0 !important;
      }
    }
  }

  // Active items

  .menu > li.active-trail.active-trail > a {
    color: color(nav__item--active);

    @include mq(medium) {
      font-weight: weight(normal);
    }
  }

  // Dropdown reveal

  @include mq(medium) {
    > .menu > li {
      @include is-on {
        > .menu {
          display: block !important;
        }
      }
    }
  }

  // Second level

  .menu .menu {
    display: none;
    background-color: color(nav-bg--l2);
    box-shadow: inset 0 5px 5px -5px color(default);

    @include mq(medium) {
      position: absolute;
      min-width: width(menu-min);
      max-width: width(menu-max);
      margin: 0;
      padding: 0;
      background: color(nav__item-bg);
      border-radius: $menu-corner;
      border-top-left-radius: 0;
      box-shadow: 2px 2px 2px 0 $black-10-t;
      z-index: 1000;
    }

    > li {

      @include mq(medium) {
        display: block;
        margin-left: 0 !important;

        @include is-on {
          background: transparent;
        }
      }

      a {
        color: color(nav__item--l2);
        border-bottom: none;
        border-top: none;

        @include mq(medium) {
          color: color(nav__item--med--l2);
        }

        @include is-on {

          @include mq(medium) {
            color: color(nav__item--med);
          }
        }
      }

      &.first {
        > a {
          @include padding-top(1);
          border-top: none;
        }
      }
    }

    > li.last {
      > a {
        @include padding-bottom(1);
      }
    }

    > li.active-trail.active-trail > a {
      color: color(link);

      @include mq(medium) {
        color: color(nav__item--med);
      }
    }
  }

  // Third level

  .menu .menu .menu {
    background: color(nav-bg--l3);
    box-shadow: none;

    @include mq(medium) {
      display: none;
    }

    a {
      padding-left: ($menu-indent * 2);

      @include mq(medium) {
        padding-left: 0;
      }
    }
  }

  // Fourth level

  .menu .menu .menu .menu {
    background: color(nav-bg--l4);

    @include mq(medium) {
      display: none;
    }

    a {
      padding-left: ($menu-indent * 3);
    }
  }

  // Fifth level

  .menu .menu .menu .menu .menu {
    @include mq(medium) {
      display: none;
    }

    a {
      padding-left: ($menu-indent * 4);
    }
  }

  // Sub-menu revealers and arrows

  .js-sub-menu-revealer {
    @include svg-ir('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59 16.58L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42z" fill="#fff"/></svg>'); // chevron-right--white.svg
    position: absolute;
    top: 0;
    right: 0;
    width: ($menu-indent * 3);
    height: 100%;
    padding: 0;
    background-position: 50% 50%;
    border-bottom: none;
    border-top: none;
    border-left: 1px solid color(nav__item-border);
    cursor: pointer;

    @include mq(medium) {
      display: none;
    }
  }

  .js-sub-menu-is-active {
    > a > .js-sub-menu-revealer {
      @include svg-ir('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z" fill="#fff"/></svg>'); // chevron-down--white.svg
    }

    > .menu {
      display: block;

      @include mq(medium) {
        display: none !important;
      }

      .js-sub-menu-revealer {
        @include svg-ir('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59 16.58L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42z"/></svg>'); // chevron-right.svg
        border-left: none;
      }

      .js-sub-menu-is-active {
        > a {
          border-bottom: 1px solid color(nav__item-border--mobile);

          @include mq(medium) {
            border-bottom: none;
          }
        }

        > a > .js-sub-menu-revealer {
          @include svg-ir('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z"/></svg>'); // chevron-down.svg
          border-bottom: none;
        }
      }
    }
  }
}
