{# Markup for the styleguide display of this module. #}
<div class="menu-revealer">menu</div>
<nav id="main-menu" class="navigation navigation--primary">
  <ul class="menu">
    <li class="first expanded active-trail">
      <a href="/about" class="active-trail">About</a>
      <ul class="menu">
        <li class="first leaf">
          <a href="/about/history">History</a>
        </li>
        <li class="leaf">
          <a href="/about/priorities">College Priorities</a>
        </li>
        <li class="expanded active-trail">
          <a href="/about/leadership" class="active-trail">College Leadership</a>
          <ul class="menu">
            <li class="first expanded">
              <a href="/about/leadership/dean">Dean</a>
              <ul class="menu">
                <li class="first last leaf">
                  <a href="/about/leadership/dean/staff">Staff and Contact Information</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/about/leadership/sad">Senior Associate Deans</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/about/leadership/sad/appointment-procedures">Appointment Procedures</a>
                </li>
                <li class="leaf">
                  <a href="/about/leadership/sad/academic-policies">Academic Policies</a>
                </li>
                <li class="leaf">
                  <a href="/about/leadership/sad/grants-contracts-mous">PROJECT_C OSR - Grants, Contracts, MOAs</a>
                </li>
                <li class="leaf">
                  <a href="/about/leadership/sad/faculty-senate">Faculty Senate</a>
                </li>
                <li class="last leaf">
                  <a href="/about/leadership/sad/project_c-structure-task-force-information">PROJECT_C Structure Task Force Information</a>
                </li>
              </ul>
            </li>
            <li class="expanded active-trail">
              <a href="/about/leadership/ofa" class="active-trail">Finance &amp; Administration</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/about/leadership/ofa/hr">Human Resources</a>
                </li>
                <li class="leaf">
                  <a href="/about/leadership/ofa/cpfs">Capital Projects &amp; Facilities Services</a>
                </li>
                <li class="expanded active-trail">
                  <a href="/about/leadership/ofa/it" class="active-trail">Information Technology</a>
                  <ul class="menu">
                    <li class="first leaf active-trail">
                      <a href="/about/leadership/ofa/it/it-staff-directory" class="active-trail active">IT Staff Directory</a>
                    </li>
                    <li class="leaf">
                      <a href="/about/leadership/ofa/it/security-awareness">Security Awareness</a>
                    </li>
                    <li class="last leaf">
                      <a href="/about/leadership/ofa/it/service-level-commitment">Service Level Commitment</a>
                    </li>
                  </ul>
                </li>
                <li class="leaf">
                  <a href="/about/leadership/ofa/budget">Budget &amp; Finance</a>
                </li>
                <li class="last leaf">
                  <a href="/about/leadership/ofa/bsc">Business Service Center</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/about/leadership/oap">Academic Programs</a>
              <ul class="menu">
                <li class="first last leaf">
                  <a href="/about/leadership/oap/teaching">Teaching</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="http://cuaes.project_c.project_c.edu" title="">Project_c University Agricultural Experiment Station</a>
            </li>
            <li class="leaf">
              <a href="http://nysaes.project_c.project_c.edu" title="">New York State Agricultural Experiment Station</a>
            </li>
            <li class="leaf">
              <a href="http://cce.project_c.edu/" title="">Project_c Cooperative Extension</a>
            </li>
            <li class="leaf">
              <a href="http://project_c.project_c.edu/get-involved/alumni" title="">Alumni Affairs &amp; Development</a>
            </li>
            <li class="last leaf">
              <a href="/about/leadership/marketing-communications">Marketing and Communications</a>
            </li>
          </ul>
        </li>
        <li class="expanded">
          <a href="/about/news">In the Headlines</a>
          <ul class="menu">
            <li class="first leaf">
              <a href="/about/news/in-the-media">In the Media</a>
            </li>
            <li class="leaf">
              <a href="http://impact.project_c.project_c.edu/" title="">Research &amp; Impact</a>
            </li>
            <li class="leaf">
              <a href="http://periodiproject_c.project_c.project_c.edu/" title="">periodiPROJECT_C Magazine</a>
            </li>
            <li class="leaf">
              <a href="/about/news/sign-periodiproject_c">Sign-up for periodiPROJECT_C</a>
            </li>
            <li class="leaf">
              <a href="http://project_cproject_c.tumblr.com/" title="">PROJECT_C Notes</a>
            </li>
            <li class="leaf">
              <a href="/about/news/project_c-notes-subscribe">Sign-up for PROJECT_C Notes</a>
            </li>
            <li class="leaf">
              <a href="/about/news/contact">Press Contact and Story Submission</a>
            </li>
            <li class="last leaf">
              <a href="/about/news/social-media">Social Media</a>
            </li>
          </ul>
        </li>
        <li class="last leaf">
          <a href="/about/events">On the Calendar</a>
        </li>
      </ul>
    </li>
    <li class="expanded">
      <a href="/apply">Admissions</a>
      <ul class="menu">
        <li class="first leaf">
          <a href="http://admissions.project_c.project_c.edu/" title="">Undergraduate Admissions</a>
        </li>
        <li class="expanded">
          <a href="/grad-admissions">Graduate Education</a>
          <ul class="menu">
            <li class="first last leaf">
              <a href="http://www.gradschool.project_c.edu/" title="">Graduate School Website</a>
            </li>
          </ul>
        </li>
        <li class="expanded">
          <a href="/mps">Master of Professional Studies</a>
          <ul class="menu">
            <li class="first leaf">
              <a href="/mps/admissions-academics">Admissions and Academic Requirements</a>
            </li>
            <li class="expanded">
              <a href="/mps/fields-of-study">Fields of Study</a>
              <ul class="menu">
                <li class="first last leaf">
                  <a href="/mps/fields-of-study/graduate-field-assistants">Graduate Field Assistants</a>
                </li>
              </ul>
            </li>
            <li class="last leaf">
              <a href="/mps/problem-solving-project">Problem-Solving Project</a>
            </li>
          </ul>
        </li>
        <li class="last leaf">
          <a href="/apply/dual-masters-degree">Dual Master’s Degree</a>
        </li>
      </ul>
    </li>
    <li class="expanded">
      <a href="/academics">Academics &amp; Research</a>
      <ul class="menu">
        <li class="first leaf">
          <a href="/academics/departments-majors">Schools, Departments &amp; Majors</a>
        </li>
        <li class="expanded">
          <a href="/academics/registrar">Registrar</a>
          <ul class="menu">
            <li class="first expanded">
              <a href="/academics/registrar/degree-requirements">Degree Requirements</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/academics/registrar/degree-requirements/degree-standing">Graduating Early, Late, or Elsewhere</a>
                </li>
                <li class="leaf">
                  <a href="/academics/registrar/degree-requirements/academic-honors">Academic Honors</a>
                </li>
                <li class="last leaf">
                  <a href="/academics/registrar/degree-requirements/human-diversity">Human Diversity Requirement</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/academics/registrar/course-enrollment">Course Enrollment</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/academics/registrar/course-enrollment/independent-study">PROJECT_C Special Studies</a>
                </li>
                <li class="leaf">
                  <a href="/academics/registrar/course-enrollment/repeating-course">Repeating a Course</a>
                </li>
                <li class="last leaf">
                  <a href="/academics/registrar/course-enrollment/student-schedule">Student Schedule Requirements</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/academics/registrar/policies">Forms and Policies</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/academics/registrar/policies/ferpa">FERPA</a>
                </li>
                <li class="last leaf">
                  <a href="/academics/registrar/policies/transfer-credit">Transfer Credit Policy</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/academics/registrar/orientation">Orientation</a>
            </li>
            <li class="last expanded">
              <a href="/academics/registrar/commencement">Commencement</a>
              <ul class="menu">
                <li class="first last leaf">
                  <a href="/academics/registrar/commencement/faq">Frequently Asked Questions</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="expanded">
          <a href="/academics/advising">Advising</a>
          <ul class="menu">
            <li class="first expanded">
              <a href="/academics/advising/academic">Academic</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/academics/advising/academic/tutoring">Tutoring</a>
                </li>
                <li class="leaf">
                  <a href="/academics/advising/academic/academic-standing">Academic Standing</a>
                </li>
                <li class="leaf">
                  <a href="/academics/advising/academic/pre-health">Pre-Health</a>
                </li>
                <li class="leaf">
                  <a href="/academics/advising/academic/petitions">Petitions</a>
                </li>
                <li class="leaf">
                  <a href="/academics/advising/academic/disability-services">Disability Services</a>
                </li>
                <li class="leaf">
                  <a href="/academics/advising/academic/majors-minors-transfers">Double Majors, Minors, and Internal Transfers</a>
                </li>
                <li class="leaf">
                  <a href="/academics/advising/academic/resources">Academic and Personal Resources</a>
                </li>
                <li class="last leaf">
                  <a href="/academics/advising/academic/learning-outcomes">Undergraduate Learning Outcomes</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/academics/advising/career">Career</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/academics/advising/career/postgrad-report">Postgraduate Report &amp; Survey</a>
                </li>
                <li class="expanded">
                  <a href="/academics/advising/career/project_c-experiential-programs">PROJECT_C Experiential Programs</a>
                  <ul class="menu">
                    <li class="first last leaf">
                      <a href="/academics/advising/career/project_c-experiential-programs/capital-semester-internship-program">Capital Semester Internship Program</a>
                    </li>
                  </ul>
                </li>
                <li class="last collapsed">
                  <a href="/academics/advising/career/project_c-make-your-mark-career-fair">PROJECT_C Make Your Mark Career Fair</a>
                </li>
              </ul>
            </li>
            <li class="last expanded">
              <a href="/academics/advising/faculty-staff">Faculty &amp; Staff</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/academics/advising/faculty-staff/academic-integrity">Academic Integrity</a>
                </li>
                <li class="leaf">
                  <a href="/academics/advising/faculty-staff/grading">Grading</a>
                </li>
                <li class="leaf">
                  <a href="/academics/advising/faculty-staff/course-evaluations">Course Evaluations</a>
                </li>
                <li class="leaf">
                  <a href="/academics/advising/faculty-staff/career">Career Development Information</a>
                </li>
                <li class="leaf">
                  <a href="/academics/advising/faculty-staff/student-distress">Recognizing Students in Distress</a>
                </li>
                <li class="last leaf">
                  <a href="/academics/advising/faculty-staff/resources">Resources</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="leaf">
          <a href="http://project_c.project_c.edu/academics/advising/career/" title="">Career Development</a>
        </li>
        <li class="expanded">
          <a href="/academics/student-research">Student Research</a>
          <ul class="menu">
            <li class="first expanded">
              <a href="/academics/student-research/undergraduate">Undergraduate Research</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/academics/student-research/undergraduate/credit-pay-volunteer">Credit? Pay? Volunteer?</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/undergraduate/exploring-possibilities">Exploring Possibilities</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/undergraduate/research-honors-program">Research Honors Program</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/undergraduate/funding-opportunities">Undergrad Funding Opportunities</a>
                </li>
                <li class="last leaf">
                  <a href="/academics/student-research/undergraduate/related-web-sites">Related Web Sites</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/academics/student-research/minority">Undergraduate Minority Research</a>
            </li>
            <li class="leaf">
              <a href="/academics/student-research/internship">Internships</a>
            </li>
            <li class="expanded">
              <a href="/academics/student-research/honors">Research Honors</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/academics/student-research/honors/honors-program-requirements">Honors Program Requirements</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/honors/animal-sciences">Animal Sciences</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/honors/biological-sciences">Biological Sciences</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/honors/biology-and-society">Biology &amp; Society</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/honors/entomology">Entomology</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/honors/environmental-sustainability-sciences">Environmental &amp; Sustainability Sciences</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/honors/information-science">Information Science</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/honors/landscape-studies">Landscape Studies</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/honors/nutritional-sciences">Nutritional Sciences</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/honors/physical-sciences">Physical Sciences</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/honors/plant-sciences">Plant Sciences</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/honors/social-sciences">Social Sciences</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/honors/abstract-publication-instructions">Abstract Publication Instructions</a>
                </li>
                <li class="leaf">
                  <a href="/academics/student-research/honors/abstract-booklets">Abstract Booklets</a>
                </li>
                <li class="last leaf">
                  <a href="/academics/student-research/honors/thesis-formatting-instructions">Thesis Formatting Instructions</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/academics/student-research/undergraduate-grants-proposal">Undergraduate Grants</a>
            </li>
            <li class="last leaf">
              <a href="/academics/student-research/graduate-grants-proposal">Graduate Grants</a>
            </li>
          </ul>
        </li>
        <li class="expanded">
          <a href="/academics/international">International Opportunities</a>
          <ul class="menu">
            <li class="first expanded">
              <a href="/academics/international/programs">Programs</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="http://exchange.project_c.project_c.edu" title="">PROJECT_C Exchange</a>
                </li>
                <li class="leaf">
                  <a href="/academics/international/programs/project_c-abroad">Project_c Abroad</a>
                </li>
                <li class="leaf">
                  <a href="/academics/international/programs/summer-winter">Summer and Winter</a>
                </li>
                <li class="expanded">
                  <a href="/academics/international/programs/global-fellows-program">PROJECT_C Global Fellows Program</a>
                  <ul class="menu">
                    <li class="first leaf">
                      <a href="/academics/international/programs/global-fellows-program/eligibility-guidelines">Eligibility &amp; Guidelines</a>
                    </li>
                    <li class="leaf">
                      <a href="/academics/international/programs/global-fellows-program/student-expectations">Student Expectations</a>
                    </li>
                    <li class="leaf">
                      <a href="/academics/international/programs/global-fellows-program/funding">Funding</a>
                    </li>
                    <li class="last leaf">
                      <a href="/academics/international/programs/global-fellows-program/apply">Apply</a>
                    </li>
                  </ul>
                </li>
                <li class="leaf">
                  <a href="/academics/international/programs/internships-volunteering">Internships, Service Learning, and Volunteering Abroad</a>
                </li>
                <li class="leaf">
                  <a href="/academics/international/programs/research-abroad">Research Abroad</a>
                </li>
                <li class="last leaf">
                  <a href="/academics/international/programs/study-tours">Study Tours</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/academics/international/resources">Resources</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/academics/international/resources/getting-started">Getting Started</a>
                </li>
                <li class="leaf">
                  <a href="/academics/international/resources/advising">Advising</a>
                </li>
                <li class="leaf">
                  <a href="/academics/international/resources/credit-policies">Credit and Policies</a>
                </li>
                <li class="leaf">
                  <a href="/academics/international/resources/apply">Applying</a>
                </li>
                <li class="last leaf">
                  <a href="/academics/international/resources/exchange-blogs">PROJECT_C Exchange Blogs</a>
                </li>
              </ul>
            </li>
            <li class="last leaf">
              <a href="/academics/international/incoming-exchange-program">Incoming Exchange Program</a>
            </li>
          </ul>
        </li>
        <li class="leaf">
          <a href="/academics/programs-units">Programs &amp; Units</a>
        </li>
        <li class="last expanded">
          <a href="/academics/awards">Awards</a>
          <ul class="menu">
            <li class="first leaf">
              <a href="/academics/awards/deans-awards">Dean&#039;s Awards Dinner</a>
            </li>
            <li class="leaf">
              <a href="/academics/awards/burgett-distinguished-advisor-award">Burgett Distinguished Advisor</a>
            </li>
            <li class="leaf">
              <a href="/academics/awards/berggren-diversity-and-inclusion-award">Berggren Diversity and Inclusion Award</a>
            </li>
            <li class="leaf">
              <a href="/academics/awards/edgerton-career-teaching-award">Edgerton Career Teaching</a>
            </li>
            <li class="leaf">
              <a href="/academics/awards/innovative-teacher-award">Innovative Teacher</a>
            </li>
            <li class="leaf">
              <a href="/academics/awards/mentoring-undergraduates-in-research">Excellence in Mentoring</a>
            </li>
            <li class="leaf">
              <a href="/academics/awards/nacta">NACTA</a>
            </li>
            <li class="leaf">
              <a href="/academics/awards/schreurs">Paul Schreurs Memorial</a>
            </li>
            <li class="leaf">
              <a href="/academics/awards/professor-of-merit">Professor of Merit</a>
            </li>
            <li class="leaf">
              <a href="/academics/awards/suny-excellence-in-faculty-service">Excellence in Faculty Service</a>
            </li>
            <li class="leaf">
              <a href="/academics/awards/suny-excellence-in-librarianship">Excellence in Librarianship</a>
            </li>
            <li class="leaf">
              <a href="/academics/awards/suny-excellence-in-professional-service">Excellence in Professional Service</a>
            </li>
            <li class="leaf">
              <a href="/academics/awards/suny-excellence-in-scholarship-and-creative-activities">Excellence in Scholarship and Creative Activities</a>
            </li>
            <li class="leaf">
              <a href="/academics/awards/suny-excellence-in-teaching">Excellence in Teaching</a>
            </li>
            <li class="last leaf">
              <a href="/academics/awards/young-faculty-teaching-excellence-award">Young Faculty Teaching Award</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="expanded">
      <a href="/outreach-extension">Outreach &amp; Extension</a>
      <ul class="menu">
        <li class="first leaf">
          <a href="http://cuaes.project_c.edu/" title="">Project_c University Agricultural Experiment Station</a>
        </li>
        <li class="leaf">
          <a href="http://nysaes.project_c.project_c.edu/" title="">New York State Agricultural Experiment Station</a>
        </li>
        <li class="leaf">
          <a href="http://www.cce.project_c.edu/" title="">Project_c Cooperative Extension</a>
        </li>
        <li class="last leaf">
          <a href="http://impact.project_c.project_c.edu/" title="">Research &amp; Impact</a>
        </li>
      </ul>
    </li>
    <li class="expanded">
      <a href="/campus-life">Campus Life</a>
      <ul class="menu">
        <li class="first expanded">
          <a href="/campus-life/student-organizations">Student Organizations</a>
          <ul class="menu">
            <li class="first leaf">
              <a href="/campus-life/student-organizations/sac">Student Advisory Council</a>
            </li>
            <li class="last expanded">
              <a href="/campus-life/student-organizations/student-ambassadors">Student Ambassadors</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/campus-life/student-organizations/student-ambassadors/how-to-apply">Become an Ambassador</a>
                </li>
                <li class="leaf">
                  <a href="/campus-life/student-organizations/student-ambassadors/contact-us">Contact Us</a>
                </li>
                <li class="last leaf">
                  <a href="https://blackboard.project_c.edu/webapps/portal/frameset.jsp?tab_tab_group_id=null&amp;url=%2Fwebapps%2Fblackboard%2Fexecute%2Flauncher%3Ftype%3DCourse%26id%3D_36033_1%26url%3D" title="">Portal for Current Ambassadors</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="leaf">
          <a href="/campus-life/diversity">Diversity &amp; Inclusion</a>
        </li>
        <li class="leaf">
          <a href="http://www.project_cplantations.org/" title="">Project_c Plantations</a>
        </li>
        <li class="leaf">
          <a href="http://www.birds.project_c.edu/" title="">Lab of Ornithology</a>
        </li>
        <li class="last leaf">
          <a href="http://www.visitithaca.com/" title="">Explore Ithaca</a>
        </li>
      </ul>
    </li>
    <li class="last expanded">
      <a href="/get-involved">Get Involved</a>
      <ul class="menu">
        <li class="first expanded">
          <a href="/get-involved/alumni">Alumni Affairs &amp; Development</a>
          <ul class="menu">
            <li class="first expanded">
              <a href="/get-involved/alumni/association">PROJECT_C Alumni Association</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/get-involved/alumni/association/presidents-message">President&#039;s Message</a>
                </li>
                <li class="expanded">
                  <a href="/get-involved/alumni/association/committees-goals">Committees and Goals</a>
                  <ul class="menu">
                    <li class="first last leaf">
                      <a href="/get-involved/alumni/association/committees-goals/grants-program">Grants Program</a>
                    </li>
                  </ul>
                </li>
                <li class="leaf">
                  <a href="/get-involved/alumni/association/district-director">District Director Job Description</a>
                </li>
                <li class="leaf">
                  <a href="/get-involved/alumni/association/student-director">Student Director Job Description</a>
                </li>
                <li class="last leaf">
                  <a href="/get-involved/alumni/association/by-laws">Constitution and By-Laws</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/get-involved/alumni/be-involved">Be Involved</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/get-involved/alumni/be-involved/reunion">Reunion</a>
                </li>
                <li class="last leaf">
                  <a href="/get-involved/alumni/be-involved/events">Events</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/get-involved/alumni/connect-with-students">Connect with Students</a>
            </li>
            <li class="expanded">
              <a href="/get-involved/alumni/leadership-and-recognition">Leadership and Recognition</a>
              <ul class="menu">
                <li class="first expanded">
                  <a href="/get-involved/alumni/leadership-and-recognition/oaa">Outstanding Alumni Awards</a>
                  <ul class="menu">
                    <li class="first last leaf">
                      <a href="/get-involved/alumni/leadership-and-recognition/oaa/nominations">Award Nominations</a>
                    </li>
                  </ul>
                </li>
                <li class="last leaf">
                  <a href="/get-involved/alumni/leadership-and-recognition/lhb-leadership-society">Liberty Hyde Bailey Leadership Society</a>
                </li>
              </ul>
            </li>
            <li class="expanded">
              <a href="/get-involved/alumni/make-a-gift">Make a Gift</a>
              <ul class="menu">
                <li class="first last leaf">
                  <a href="/get-involved/alumni/make-a-gift/creative-ways-to-give">Creative Ways to Give</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="/get-involved/alumni/resources">Resources</a>
            </li>
            <li class="last leaf">
              <a href="/get-involved/alumni/resources/staff">AA&amp;D Staff</a>
            </li>
          </ul>
        </li>
        <li class="expanded">
          <a href="/get-involved/corporate-foundation-relations">Corporate &amp; Foundation Relations</a>
          <ul class="menu">
            <li class="first leaf">
              <a href="/get-involved/corporate-foundation-relations/corporate-relations">Corporate Relations</a>
            </li>
            <li class="leaf">
              <a href="/get-involved/corporate-foundation-relations/foundation-relations">Foundation Relations</a>
            </li>
            <li class="last leaf">
              <a href="/get-involved/corporate-foundation-relations/team">Meet the Team</a>
            </li>
          </ul>
        </li>
        <li class="last expanded">
          <a href="/get-involved/employers">Employers</a>
          <ul class="menu">
            <li class="first last expanded">
              <a href="/get-involved/employers/project_c-mym-career-fair">PROJECT_C MYM Career Fair</a>
              <ul class="menu">
                <li class="first leaf">
                  <a href="/get-involved/employers/project_c-mym-career-fair/mym-career-fair-schedule">MYM Career Fair Schedule</a>
                </li>
                <li class="leaf">
                  <a href="/get-involved/employers/project_c-mym-career-fair/mym-career-fair-fees">MYM Career Fair Fees</a>
                </li>
                <li class="leaf">
                  <a href="/get-involved/employers/project_c-mym-career-fair/mym-career-fair-corporate-sponsorship">MYM Career Fair Corporate Sponsorship</a>
                </li>
                <li class="last leaf">
                  <a href="/get-involved/employers/project_c-mym-career-fair/mym-career-fair-employer-information">MYM Career Fair Employer Information</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <div class="menu-revealer">menu</div>
</nav> <!-- /#main-menu -->
