{# Markup for the styleguide display of this module. #}
<nav class="navigation navigation--secondary" role="navigation">
<ul class="menu">
  <li class="first expanded active-trail">
    <a href="/about" class="active-trail">About Us</a>
    <ul class="menu">
      <li class="first leaf">
        <a href="/about/history">History</a>
      </li>
      <li class="leaf">
        <a href="/about/priorities">College Priorities</a>
      </li>
      <li class="expanded active-trail">
        <a href="/about/leadership" class="active-trail">College Leadership</a>
        <ul class="menu">
          <li class="first expanded">
            <a href="/about/leadership/dean">Dean</a>
            <ul class="menu">
              <li class="first last leaf">
                <a href="/about/leadership/dean/staff">Staff and Contact Information</a>
              </li>
            </ul>
          </li>
          <li class="expanded">
            <a href="/about/leadership/sad">Senior Associate Deans</a>
            <ul class="menu">
              <li class="first leaf">
                <a href="/about/leadership/sad/appointment-procedures">Appointment Procedures</a>
              </li>
              <li class="leaf">
                <a href="/about/leadership/sad/academic-policies">Academic Policies</a>
              </li>
              <li class="leaf">
                <a href="/about/leadership/sad/grants-contracts-mous">PROJECT_C OSR - Grants, Contracts, MOAs</a>
              </li>
              <li class="leaf">
                <a href="/about/leadership/sad/faculty-senate">Faculty Senate</a>
              </li>
              <li class="last leaf">
                <a href="/about/leadership/sad/project_c-structure-task-force-information">PROJECT_C Structure Task Force Information</a>
              </li>
            </ul>
          </li>
          <li class="expanded active-trail">
            <a href="/about/leadership/ofa" class="active-trail">Finance &amp; Administration</a>
            <ul class="menu">
              <li class="first leaf">
                <a href="/about/leadership/ofa/hr">Human Resources</a>
              </li>
              <li class="leaf">
                <a href="/about/leadership/ofa/cpfs">Capital Projects &amp; Facilities Services</a>
              </li>
              <li class="expanded active-trail">
                <a href="/about/leadership/ofa/it" class="active-trail">Information Technology</a>
                <ul class="menu">
                  <li class="first leaf active-trail">
                    <a href="/about/leadership/ofa/it/it-staff-directory" class="active-trail active">IT Staff Directory [active page]</a>
                  </li>
                  <li class="leaf">
                    <a href="/about/leadership/ofa/it/security-awareness">Security Awareness</a>
                  </li>
                  <li class="last leaf">
                    <a href="/about/leadership/ofa/it/service-level-commitment">Service Level Commitment</a>
                  </li>
                </ul>
              </li>
              <li class="leaf">
                <a href="/about/leadership/ofa/budget">Budget &amp; Finance</a>
              </li>
              <li class="last leaf">
                <a href="/about/leadership/ofa/bsc">Business Service Center</a>
              </li>
            </ul>
          </li>
          <li class="expanded">
            <a href="/about/leadership/oap">Academic Programs</a>
            <ul class="menu">
              <li class="first last leaf">
                <a href="/about/leadership/oap/teaching">Teaching</a>
              </li>
            </ul>
          </li>
          <li class="leaf">
            <a href="http://cuaes.project_c.project_c.edu" title="">Project_c University Agricultural Experiment Station</a>
          </li>
          <li class="leaf">
            <a href="http://nysaes.project_c.project_c.edu" title="">New York State Agricultural Experiment Station</a>
          </li>
          <li class="leaf">
            <a href="http://cce.project_c.edu/" title="">Project_c Cooperative Extension</a>
          </li>
          <li class="leaf">
            <a href="http://project_c.project_c.edu/get-involved/alumni" title="">Alumni Affairs &amp; Development</a>
          </li>
          <li class="last leaf">
            <a href="/about/leadership/marketing-communications">Marketing and Communications</a>
          </li>
        </ul>
      </li>
      <li class="expanded">
        <a href="/about/news">In the Headlines</a>
        <ul class="menu">
          <li class="first leaf">
            <a href="/about/news/in-the-media">In the Media</a>
          </li>
          <li class="leaf">
            <a href="http://impact.project_c.project_c.edu/" title="">Research &amp; Impact</a>
          </li>
          <li class="leaf">
            <a href="http://periodiproject_c.project_c.project_c.edu/" title="">periodiPROJECT_C Magazine</a>
          </li>
          <li class="leaf">
            <a href="/about/news/sign-periodiproject_c">Sign-up for periodiPROJECT_C</a>
          </li>
          <li class="leaf">
            <a href="http://project_cproject_c.tumblr.com/" title="">PROJECT_C Notes</a>
          </li>
          <li class="leaf">
            <a href="/about/news/project_c-notes-subscribe">Sign-up for PROJECT_C Notes</a>
          </li>
          <li class="leaf">
            <a href="/about/news/contact">Press Contact and Story Submission</a>
          </li>
          <li class="last leaf">
            <a href="/about/news/social-media">Social Media</a>
          </li>
        </ul>
      </li>
      <li class="last leaf">
        <a href="/about/events">On the Calendar</a>
      </li>
    </ul>
  </li>
</ul>
</nav>
