<article id="node-1" class="node node-webform clearfix">

  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
      <div class="field-items">
        <div class="field-item even">
          <p>This is a test webform for reference in responsive department 3 styling.</p>
        </div>
      </div>
    </div>
    <div id="webform-ajax-wrapper-43">
      <form class="webform-client-form webform-client-form-43" enctype="multipart/form-data" action="/testing" method="post"
      id="webform-client-form-43" accept-charset="UTF-8">
      <div>

        <!-- BEGIN OUTPUT from 'profiles/project_c/modules/contrib/webform/templates/webform-form.tpl.php' -->
        <div class="form-item webform-component webform-component-textfield webform-component--name">
          <label for="edit-submitted-name">Name <span class="form-required" title="This field is required.">*</span></label>
          <input required="required" type="text" id="edit-submitted-name" name="submitted[name]" value="" size="60" maxlength="128"
          class="form-text required">
        </div>
        <div class="form-item webform-component webform-component-email webform-component--e-mail-address">
          <label for="edit-submitted-e-mail-address">E-mail Address <span class="form-required" title="This field is required.">*</span></label>
          <input required="required" class="email form-text form-email required" type="email" id="edit-submitted-e-mail-address" name="submitted[e_mail_address]"
          size="60">
          <div class="description">Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna.</div>
        </div>
        <div class="form-item webform-component webform-component-textarea webform-component--comment">
          <label for="edit-submitted-comment">Comment </label>
          <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea"><textarea id="edit-submitted-comment" name="submitted[comment]" cols="60" rows="5" class="form-textarea"></textarea>
            <div
            class="grippie"></div>
          </div>
          <div class="description">Please type some interesting text here.</div>
        </div>
        <fieldset class="webform-component-fieldset webform-component--personal-info form-wrapper">
          <legend><span class="fieldset-legend">Personal Info</span></legend>
          <div class="fieldset-wrapper">
            <div class="fieldset-description">Description of the fieldset.</div>
            <div class="form-item webform-component webform-component-date webform-component--personal-info--date-of-birth">
              <label for="edit-submitted-personal-info-date-of-birth">Date of birth </label>
              <div class="webform-container-inline webform-datepicker">
                <div class="form-item form-type-select form-item-submitted-personal-info-date-of-birth-month">
                  <label class="element-invisible" for="edit-submitted-personal-info-date-of-birth-month">Month </label>
                  <select class="month form-select" id="edit-submitted-personal-info-date-of-birth-month" name="submitted[personal_info][date_of_birth][month]"><option value="" selected="selected">Month</option><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select>
                </div>
                <div class="form-item form-type-select form-item-submitted-personal-info-date-of-birth-day">
                  <label class="element-invisible" for="edit-submitted-personal-info-date-of-birth-day">Day </label>
                  <select class="day form-select" id="edit-submitted-personal-info-date-of-birth-day" name="submitted[personal_info][date_of_birth][day]"><option value="" selected="selected">Day</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
                </div>
                <div class="form-item form-type-select form-item-submitted-personal-info-date-of-birth-year">
                  <label class="element-invisible" for="edit-submitted-personal-info-date-of-birth-year">Year </label>
                  <select class="year form-select" id="edit-submitted-personal-info-date-of-birth-year" name="submitted[personal_info][date_of_birth][year]"><option value="" selected="selected">Year</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option></select>
                </div>

                <!-- BEGIN OUTPUT from 'profiles/project_c/modules/contrib/webform/templates/webform-calendar.tpl.php' -->
                <input type="image" src="/profiles/project_c/modules/contrib/webform/images/calendar.png" class="webform-calendar webform-calendar-start-2014-10-13 webform-calendar-end-2018-10-13 webform-calendar-day-0 hasDatepicker"
                alt="Open popup calendar" title="Open popup calendar" id="dp1476396709967">
                <!-- END OUTPUT from 'profiles/project_c/modules/contrib/webform/templates/webform-calendar.tpl.php' -->

              </div>
            </div>
            <div class="form-item webform-component webform-component-number webform-component--personal-info--age">
              <label for="edit-submitted-personal-info-age">Age </label>
              <input type="text" id="edit-submitted-personal-info-age" name="submitted[personal_info][age]" step="any" class="form-text form-number">
            </div>
            <div class="form-item webform-component webform-component-radios webform-component--personal-info--kingdom">
              <label for="edit-submitted-personal-info-kingdom">Kingdom </label>
              <div id="edit-submitted-personal-info-kingdom" class="form-radios">
                <div class="form-item form-type-radio form-item-submitted-personal-info-kingdom">
                  <input type="radio" id="edit-submitted-personal-info-kingdom-1" name="submitted[personal_info][kingdom]" value="Animalia"
                  class="form-radio"> <label class="option" for="edit-submitted-personal-info-kingdom-1">Animalia </label>
                </div>
                <div class="form-item form-type-radio form-item-submitted-personal-info-kingdom">
                  <input type="radio" id="edit-submitted-personal-info-kingdom-2" name="submitted[personal_info][kingdom]" value="Plantae"
                  class="form-radio"> <label class="option" for="edit-submitted-personal-info-kingdom-2">Plantae </label>
                </div>
                <div class="form-item form-type-radio form-item-submitted-personal-info-kingdom">
                  <input type="radio" id="edit-submitted-personal-info-kingdom-3" name="submitted[personal_info][kingdom]" value="Fungi" class="form-radio">                  <label class="option" for="edit-submitted-personal-info-kingdom-3">Fungi </label>
                </div>
                <div class="form-item form-type-radio form-item-submitted-personal-info-kingdom">
                  <input type="radio" id="edit-submitted-personal-info-kingdom-4" name="submitted[personal_info][kingdom]" value="Protista"
                  class="form-radio"> <label class="option" for="edit-submitted-personal-info-kingdom-4">Protista </label>
                </div>
                <div class="form-item form-type-radio form-item-submitted-personal-info-kingdom">
                  <input type="radio" id="edit-submitted-personal-info-kingdom-5" name="submitted[personal_info][kingdom]" value="Monera" class="form-radio"> <label class="option" for="edit-submitted-personal-info-kingdom-5">Monera </label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="form-actions"><input class="webform-submit button-primary form-submit ajax-processed" type="submit" id="edit-webform-ajax-submit-43"
          name="op" value="Submit"></div>
          <!-- END OUTPUT from 'profiles/project_c/modules/contrib/webform/templates/webform-form.tpl.php' -->

        </div>
      </form>
    </div>
  </div>
</article>
