// Secondary local tasks
//
// Markup: local-tasks-secondary.twig
//
// Style guide: modules.local-tasks.secondary

ul.local-tasks--secondary {
  margin: ($gutter / 4) 0 0;
  padding: 0;

  @include mq(medium) {
    margin: ($gutter / 4) ($outside-gutter * -1) 0;
    padding: 0 $outside-gutter;
  }

  .local-tasks__link {
    @extend %tabs--secondary__link;
  }
}
