// Local tasks
//
// Drupal's local task (view, edit, etc.) tabs. Extends the tabs component.
//
// Style guide: modules.local-tasks

// Primary local tasks
//
// Markup: local-tasks-primary.twig
//
// Style guide: modules.local-tasks.primary

ul.local-tasks {
  @extend %tabs;
  margin: $outside-gutter 0;
  padding: 0 $outside-gutter;
  text-align: center;
  border-bottom: none;

  @include mq(medium) {
    margin: $gutter ($outside-gutter * -1) 0;
    text-align: left;
    border-bottom: 1px color(border) solid;
  }
}

.local-tasks__item {
  @extend %tabs__tab;
}

.local-tasks__link {
  @extend %tabs__link;
  margin-bottom: ($gutter / 2);

  @include mq(medium) {
    margin-bottom: 0;
  }
}
