{# Markup for the styleguide display of this component. #}
<h2 class="visually-hidden">Primary tabs</h2>
<ul class="tabs local-tasks">
  <li class="local-tasks__item is-active"><a href="#" class="local-tasks__link is-active active">View <span class="visually-hidden">(active tab)</span></a></li>
  <li class="local-tasks__item"><a href="#" class="local-tasks__link">Edit this page</a></li>
  <li class="local-tasks__item"><a href="#" class="local-tasks__link">Create draft</a></li>
  <li class="local-tasks__item"><a href="#" class="local-tasks__link">Revisions</a></li>
  <li class="local-tasks__item"><a href="#" class="local-tasks__link">Create sub page</a></li>
</ul>
