{# Markup for the styleguide display of this component. #}
<h2 class="visually-hidden">Secondary tabs</h2>
<ul class="tabs tabs--secondary local-tasks local-tasks--secondary">
  <li class="local-tasks__item is-active"><a href="#" class="local-tasks__link is-active active">Preview draft <span class="visually-hidden">(active tab)</span></a></li>
  <li class="local-tasks__item"><a href="#" class="local-tasks__link">Edit draft</a></li>
  <li class="local-tasks__item"><a href="#" class="local-tasks__link">Publish draft</a></li>
  <li class="local-tasks__item"><a href="#" class="local-tasks__link">Discard draft</a></li>
</ul>
