// WYSIWYG settings and overrides
//
// No style guide reference.

// Two-column templates
.column-left,
.column-right {
  @include mq(medium) {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
}

.column-left {
  @include mq(medium) {
    padding-right: 2.5%;
  }
}

.column-right {
  @include mq(medium) {
    padding-left: 2.5%;
  }
}

// IMCE overrides
.imce {
  li {
    @extend %list-item-none;
  }
}
