// Search
//
// Style guide: components.search

// Search form block
//
// Markup: search-block.twig
//
// Style guide: components.search.block

%search-form {
  @include typeface(sans-serif);
  @include font-size(xs);

  label {
    @include margin-bottom(0);
    @include font-size(xs);
    font-weight: weight(normal);
    color: color(default);
  }

  .form-submit,
  #edit-submit {
    @extend %button--basic;
    display: block;
    margin: 0;
  }

  .form-item {
    margin: 0;
  }

  .form-text {
    @extend %form-text-field--basic;
    width: 100%;
    min-width: 0;
    @include margin(0 0.25);
    @include padding(0.1 0.25);
  }

  .search-site {
    display: flex;
    justify-content: flex-end;
  }

  .form-type-radio {
    display: flex;
    align-items: center;
    @include margin(0.25 0 0 0.5);
  }
}

// Search form block
.search-form {
  @extend %search-form;
  @include padding(0.5 0.5 0.25 0.5);
  background-color: color(input__background);
  box-shadow: 0 -5px 8px -8px color(default) inset;

  @include mq(medium) {
    @include padding(0.25 0 0);
    background-color: color(background);
    box-shadow: none;
  }
}

// Search form on search results page
#project_c-search-form {
  @extend %search-form;
  @include padding(0.5 0);
}

// Search link
#search-link {
}

// Mobile toggle added via search-reveal.js
.search-toggle {
  @include svg-ir('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 36 36"><path d="M35.525 31.228l-8.88-8.882a14.254 14.254 0 0 0 2.298-7.752c0-7.909-6.438-14.343-14.346-14.343C6.686.251.254 6.685.254 14.594c0 7.911 6.433 14.344 14.343 14.344 2.856 0 5.513-.849 7.752-2.294l8.88 8.88a.761.761 0 0 0 1.076 0l3.22-3.221a.756.756 0 0 0 0-1.075zM4.81 14.593c0-5.396 4.391-9.788 9.788-9.788 5.398 0 9.787 4.392 9.787 9.788 0 5.398-4.389 9.789-9.787 9.789-5.398 0-9.788-4.391-9.788-9.789z" fill="#cecece"/></svg>'); // search--gray.svg
  background-position: top right;
  cursor: pointer;

  @include is-on {
    background-color: transparent;
  }
}

// Search results, Google Custom Search
.page-search .page {
  .gsc-control-cse {
    padding: 0;
    width: 100%;
    max-width: 100%;
    border: none;
    @include typeface(sans-serif);

    .gsc-table-result {
      @include typeface(sans-serif);
    }
  }

  .gsc-resultsHeader {
    margin-top: 0;
  }

  .gsc-results .gsc-cursor-box {
    @include margin(1 0 0.25);
  }

  .gsc-cursor-page {
    @include padding(0 0.25);
    @include typeface(sans-serif);
    font-size: font-size(m);
  }
}
