{# Markup for the styleguide display of this component. #}
<div class="search-form">
  <form action="/search" method="get" id="project_c-search-form" accept-charset="UTF-8">
    <div class="search-input">
      <div class="form-item form-type-textfield form-item-s">
        <label for="edit-s">SEARCH: </label>
        <input type="text" id="edit-s" name="s" value="" maxlength="128" class="form-text" />
      </div>
      <input type="submit" id="edit-submit" name="" value="go" class="form-submit" />
    </div>
    <div id="edit-search-site" class="form-radios search-site">
      <div class="form-item form-type-radio form-item-search-site">
        <input type="radio" id="edit-search-site-pppmb" name="search_site" value="PPPMB" checked="checked" class="form-radio" />  <label class="option" for="edit-search-site-pppmb">PPPMB </label>
      </div>
      <div class="form-item form-type-radio form-item-search-site">
        <input type="radio" id="edit-search-site-project_c" name="search_site" value="Project_c" class="form-radio" />  <label class="option" for="edit-search-site-project_c">Project_c </label>
      </div>
    </div>
  </form>
</div>
