////
/// Sass mixins, documented by SassDoc.
///
/// @group utilities
////

/// Modern clearfix.
///
/// @link http://nicolasgallagher.com/micro-clearfix-hack/ A new micro clearfix hack
/// @author Nicolas Gallagher

@mixin clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
    width: 0;  // Fixes layout issues in Safari.
  }

  &::after {
    clear: both;
  }
}

/// Provides hover/active/focus styles in one definition.
///
/// @link https://gist.github.com/taupecat/4739443
/// @author Tracy Rotton
///
/// @example scss - Sass
///   a {
///     text-decoration: none;
///
///      @include is-on {
///        text-decoration: underline;
///      }
///    }
///
/// @example scss - CSS output
///   a {
///     text-decoration: none;
///   }
///
///   a:hover {
///     text-decoration: underline;
///   }
///
///   a:active {
///     text-decoration: underline;
///   }
///
///   a:focus {
///     text-decoration: underline;
///   }

@mixin is-on {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

/// Image replacement.
///
/// @requires image
///
/// @author Scott Kellum
///
/// @example scss - Sass
///   a {
///     @include ir('logo.png');
///
///     &.dept-3 {
///       @include ir('logo.png', '/profiles/project_c/themes/project_c_dept3_responsive/images/min/')
///     }
///   }
///
/// @example css - CSS output
///   a {
///     background-image: url('/profiles/project_c/themes/project_c_base_responsive/images/min/logo.png');
///     background-repeat: no-repeat;
///     background-position: top left;
///     background-size: contain;
///     text-indent: 100%;
///     word-wrap: normal;
///     overflow-wrap: normal;
///     white-space: nowrap;
///     overflow: hidden;
///   }
///
///   a.dept-3 {
///     background-image: url('/profiles/project_c/themes/project_c_dept3_responsive/images/min/logo.png');
///     background-repeat: no-repeat;
///     background-position: top left;
///     background-size: contain;
///     text-indent: 100%;
///     word-wrap: normal;
///     overflow-wrap: normal;
///     white-space: nowrap;
///     overflow: hidden;
///   }
///
/// @param {path} $filename - Image file name
/// @param {path} $filepath [null] - Image file path name

@mixin ir($filename, $filepath: null) {
  background-image: image($filename, $filepath);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  text-indent: 100%;
  word-wrap: normal;
  overflow-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
}

/// Image replacement for embedded SVGs. Note that the SVG source _must_ be
/// wrapped in single quotes. Since the `gulp images` process minifies SVGs
/// automatically, you should use the source contained in `images/min`.
///
/// @requires svg-url
///
/// @author Ivan Boothe
///
/// @example scss - Sass
///   a {
///     @include svg-ir('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 36 36"><path d="M35.525 31.228l-8.88-8.882a14.254 14.254 0 0 0 2.298-7.752c0-7.909-6.438-14.343-14.346-14.343C6.686.251.254 6.685.254 14.594c0 7.911 6.433 14.344 14.343 14.344 2.856 0 5.513-.849 7.752-2.294l8.88 8.88a.761.761 0 0 0 1.076 0l3.22-3.221a.756.756 0 0 0 0-1.075zM4.81 14.593c0-5.396 4.391-9.788 9.788-9.788 5.398 0 9.787 4.392 9.787 9.788 0 5.398-4.389 9.789-9.787 9.789-5.398 0-9.788-4.391-9.788-9.789z" fill="#cecece"/></svg>'); // search--gray.svg
///    }
///
/// @example css - CSS output
///   a {
///     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 36 36'%3E%3Cpath d='M35.525 31.228l-8.88-8.882a14.254 14.254 0 0 0 2.298-7.752c0-7.909-6.438-14.343-14.346-14.343C6.686.251.254 6.685.254 14.594c0 7.911 6.433 14.344 14.343 14.344 2.856 0 5.513-.849 7.752-2.294l8.88 8.88a.761.761 0 0 0 1.076 0l3.22-3.221a.756.756 0 0 0 0-1.075zM4.81 14.593c0-5.396 4.391-9.788 9.788-9.788 5.398 0 9.787 4.392 9.787 9.788 0 5.398-4.389 9.789-9.787 9.789-5.398 0-9.788-4.391-9.788-9.789z' fill='%23cecece'/%3E%3C/svg%3E");
///     background-repeat: no-repeat;
///     text-indent: 100%;
///     word-wrap: normal;
///     overflow-wrap: normal;
///     white-space: nowrap;
///     overflow: hidden;
///   }
///
/// @param {String} $image-source - Full SVG source of the image

@mixin svg-ir($image-source) {
  background-image: svg-url($image-source);
  background-repeat: no-repeat;
  text-indent: 100%;
  word-wrap: normal;
  overflow-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
}

/// Visually hidden
///
/// Make an element visually hidden, but accessible to screen readers.
///
/// @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
///
/// @author John Albin Wilkins

@mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
  overflow-wrap: normal;
  white-space: nowrap;
}

.visually-hidden {
  @include visually-hidden;
}

/// Visually hidden off
///
/// Turns off the visually-hidden effect.
///
/// @author John Albin Wilkins

@mixin visually-hidden--off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: visible;
}

.visually-hidden--off {
  @include visually-hidden--off;
}

/// Visually hidden focusable
///
/// Makes an element visually hidden by default, but visible when receiving focus.
///
/// @requires visually-hidden
/// @requires visually-hidden--off
///
/// @author John Albin Wilkins

@mixin visually-hidden--focusable {
  @include visually-hidden;

  &:active,
  &:focus {
    @include visually-hidden--off;
  }
}

.visually-hidden--focusable {
  @include visually-hidden--focusable;
}
