{# Markup for the styleguide display of this component. #}
<ul class="tabs {{modifier_class}}">
  <li class="tabs__tab is-active"><a href="#" class="tabs__link is-active active">Active tab</a></li>
  <li class="tabs__tab"><a href="#" class="tabs__link">Inactive tab</a></li>
  <li class="tabs__tab"><a href="#" class="tabs__link">Inactive tab</a></li>
</ul>
