// People profile item
//
// .people-profile--listing - The "listing" profile variant.
// .people-profile--simple - The "simple" profile variant.
// .people-profile--spotlight - The "spotlight" profile variant.
//
// Markup: people-profile.twig
//
// Style guide: modules.people-profile

//
// Default view mode
//
.people-profile {
  @include clearfix;

  & .node-readmore {
    @extend %list-item-none;
    padding: 0;
  }
}

.people-profile__main {

  @include mq(medium) {
    display: inline-block;
    vertical-align: top;
    @include padding-right(1);
  }

  .people-profile--listing &,
  .people-profile--spotlight &,
  .people-profile--simple & {
    @include mq(medium) {
      width: 100%;
      @include padding-right(0);
    }
  }
}

.people-profile__sidebar {
  padding: $gutter;
  background-color: color(background--sidebar);

  @include mq(medium) {
    display: inline-block;
    vertical-align: top;
  }
}

.people-profile__header {
  @include clearfix;
  @include padding-bottom(1);
  @include margin-bottom(1);
  border-bottom: 1px color(border) solid;

  .people-profile--listing &,
  .people-profile--spotlight &,
  .people-profile--simple & {
    overflow: hidden;
    @include margin-top(1);
    @include margin-bottom(0);
  }

  .people-profile--spotlight & {
    border-bottom: none;
  }
}

.people-profile__image-wrapper {
  float: left;
  width: (width(imagestyle__people--medium) + 6px);
  @include margin(0 1 0 0);

  @include mq(medium) {
    width: (width(imagestyle__people--large) + 6px);
  }

  .people-profile--listing & {
    width: (width(imagestyle__people--small) + 6px);
    height: (width(imagestyle__people-height--small) + 6px);
    @include margin(0 1 1 0);

    @include mq(medium) {
      width: (width(imagestyle__people--medium) + 6px);
      height: (width(imagestyle__people-height--medium) + 6px);
    }
  }

  .people-profile--simple & {
    width: inherit;
    @include margin-bottom(1);
  }

  .people-profile--spotlight & {
    width: (width(imagestyle__people--small) + 2px);
    @include margin(0 1 1 0);

    @include mq(medium) {
      width: (width(imagestyle__people--medium) + 2px);
    }
  }
}

.people-profile__image {
  @extend %img;
  border-color: color(border);
  display: block;

  .people-profile--spotlight & {
    max-width: 100%;
    border-width: 1px;
  }
}

.people-profile__header-body {

  .people-profile--listing & {
    overflow: hidden;
  }

  .people-profile--listing &,
  .people-profile--simple & {

    .sidebar & {
      overflow: visible;
    }
  }
}

.people-profile__basics {
  @include clearfix;
  @include margin(1 0 0.5);
  @include padding(0 0 0.5 0);
  overflow: hidden;

  .people-profile--listing &,
  .people-profile--simple & {
    @include margin-top(0);

    .sidebar & {
      @include padding-left(0);
    }
  }

  .people-profile--simple & {
    @include margin-bottom(0);
    @include padding-bottom(0.25);
  }

  .people-profile--listing & {
    @include mq(large) {
      width: 35%;
      float: left;
      @include margin(0 0 0.5);
      @include padding-right(1);
    }
  }

  .people-profile--spotlight & {
    overflow: visible;
    @include margin-top(0);
    @include padding-left(0);

    @include mq(medium) {
      @include padding-left(0);
    }

    @include mq(large) {
      @include padding-left(0);
    }

    .sidebar & {
      @include padding-left(0);
    }
  }

  .sidebar & {
    @include mq(large) {
      @include margin(0 0 0.5);
      @include padding(0 0 0.5 1);
      float: none;
      width: auto;
    }
  }

  .people-profile--no-image.people-profile--listing &,
  .people-profile--no-image.people-profile--simple & {
    @include mq(large) {
      width: 25%;
    }
  }

  .people-profile--no-image.people-profile--listing &,
  .people-profile--no-image.people-profile--simple &,
  .people-profile--no-image.people-profile--spotlight & {
    margin-left: 0;
    padding-left: 0;
  }
}

.people-profile__summary {
  @include margin(1 0);

  .sidebar & {
    @include mq(large) {
      @include padding-top(1);
    }
  }

  .people-profile--listing &,
  .people-profile--simple & {
    @include margin-top(0);

    @include mq(medium) {
      margin-left: 0;
    }

    .sidebar & {
      @include mq(large) {
        overflow: visible;
        @include padding-top(0);
      }
    }
  }

  .people-profile--listing & {
    // Put this back under 211 to prevent wrapping of summary on simples.
    @include mq(large) {
      overflow: hidden;
    }
  }

  .people-profile--no-image.people-profile--listing &,
  .people-profile--no-image.people-profile--simple & {
    margin-left: 0;
    padding-left: 0;

    @include mq(medium) {
      margin-left: 0;
      padding-left: 0;
    }
  }
}

.people-profile__spotlight {
  @include margin(0 0 1);
}

.people-profile__name {
  word-break: break-word;
  hyphens: auto;
}

.people-profile__work-title {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  .people-profile--listing & {
    @include font-size(16px);
  }
}

.people-profile__address {
}

.people-profile__phone {
}

.people-profile__email {
  @include margin-top(1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.people-profile__email-label {
  display: block;
}

.people-profile__overview {
}

.people-profile__research-focus {
}

.people-profile__outreach-focus {
}

.people-profile__instruction-focus {
}

.people-profile__additional-links {
}

.people-profile__honors-and-awards {
}

.people-profile__publications {
}

.people-profile__departments {
}

.people-profile__concentrations {
  text-transform: capitalize;
}

.people-profile__acadvise-graduate {
}

.people-profile__education {
}
