// Node editing forms

.logged-in {
  .text-format-wrapper {
    .filter-wrapper.form-wrapper {
      display: none;
    }
  }

  form {
    .tabledrag-toggle-weight-wrapper {
      display: none;
    }
  }
}

.form-item-menu-enabled.form-disabled {
  display: none;
}

form.node-form,
#bean-form {
  input,
  textarea {
    &:disabled {
      @include padding(0.125);
      background: color(disabled__background);
      color: color(disabled);
      border-width: 0;
    }
  }

  table th {
    @include padding(0);
    text-transform: none;
  }

  .field-name-field-first-sidebar-blocks,
  .field-name-field-second-sidebar-blocks,
  .field-name-field-related-links .link-attributes,
  .field-name-field-related-links .field-suffix {
    float: left;
    width: 50%;
  }

  .form-type-link-field .form-item {
    margin-top: 0;
    margin-bottom: 0;
  }

  .field-name-field-content-bottom-blocks {
    clear: both;
  }

  .tabledrag-changed-warning {
    @include margin-left(0);
  }

  .form-item .description {
    @include margin(0.25 0 1);
  }
}

.field-name-field-body,
.field-name-field-people-summary,
.field-name-field-spotlight {
  .cke_contents {
    height: 200px;
  }
}

#edit-cancel,
#edit-delete,
#edit-preview-changes,
#edit-submit {
  display: inline-block;
  @include margin(0 1 0 0);
}

.form-button-disabled {
  color: color(disabled);
}

.node-form-options.form-wrapper.vertical-tabs-pane {
  display: block;
}

body.cke_editable {
  @include padding(0 0.5);
  background-color: color(background);

  .column-left,
  .column-right {
    border: 1px dashed color(border);
  }
}
