// Google custom site search

.gsc-control-cse,
.cse .gsc-control-cse {
  @include padding(0);
}

.gsc-control-cse {
  tbody {
    border-top-width: 0;
  }

  .gsc-control-wrapper-cse {
    .gsc-results-wrapper-visible {
      table.gsc-resultsHeader {
        tbody tr td {
          border-bottom-width: 0;
        }
      }

      .gsc-above-wrapper-area {
        @include padding(0);

        table {
          @include margin(0);
        }

        .gsc-selected-option {
          word-wrap: normal;
          overflow-wrap: normal;
        }
      }

      .gsc-wrapper {
        .gsc-resultsbox-visible {
          .gsc-resultsHeader {
            @include margin-bottom(0);
          }

          .gsc-results.gsc-webResult {
            width: 100%;

            .gs-webResult.gs-result {
              table.gsc-table-result {
                @include margin(0);
              }
            }

            .gsc-webResult {
              @include margin(0);
              @include padding(0);
            }

            .gsc-expansionArea {
              & > .gsc-webResult.gsc-result {
                .gs-webResult.gs-result {
                  table.gsc-table-result {
                    & > tbody td {
                      @include padding(0.75 0.5);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
